<style type="text/css">
.display {

}
.hide{
    visibility: hidden;
}
.work{margin: 0 auto;}

th, td {
    text-align: left;
    padding: 8px;
    color:#3d3d3d;
    border: 1px solid #c6c6c6;
}

tr:nth-child(odd){background-color:#F9F9F9;}

th {
    font-size:13px;
    background-color:white;
    color: #3d3d3d;
    border: 1px solid #c6c6c6;
}
</style>
 
<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h2 class="animated fadeInLeft">Work Days</h2>
                <p class="animated fadeInDown">
                    <a href="#/">Home</a> <span class="fa-angle-right fa"></span> 
                    Work Days
                </p>
            </div>
        </div> 
    </div>


    <table id="table1" width="16%" cellspacing="0">
            <thead>
                <tr>
                    <th><font size = 3>Work Days</font></th>
                    <th><font size = 3>Select</th>
                </tr>

                <tr>
                    <td>Monday</td>
                    <td><input name="workdays" type="checkbox" style="width:25px;height:25px;background-color black" ng-model="work.data.monday"></td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td><input name="workdays" type="checkbox" style="width:25px;height:25px;background-color black" ng-model="work.data.tuesday"></td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td><input name="workdays" type="checkbox" style="width:25px;height:25px;background-color black" ng-model="work.data.wednesday"></td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td><input name="workdays" type="checkbox" style="width:25px;height:25px;background-color black" ng-model="work.data.thursday"></td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td><input name="workdays" type="checkbox" style="width:25px;height:25px;background-color black" ng-model="work.data.friday"></td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td><input name="workdays" type="checkbox" style="width:25px;height:25px;background-color black" ng-model="work.data.saturday"></td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td><input name="workdays" type="checkbox" style="width:25px;height:25px;background-color black" ng-model="work.data.sunday"></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(k, v) in default_values.data" style="cursor:pointer;">
                     <div style="padding-left:1px; margin-top: 430px; position:absolute;mar">
                        <button ng-click = "save()" class=" btn btn-add"><h5> Save </h5></button>
        </div>
    </tr>
    
    


    </div>


