<style type="text/css">
.red {
    color: #ff0000;
}

.bck{
    background-color: #F9F9F9;
    height:80px;
    width: 100%;
    margin-left:1px;
    border-radius: 5px;
    border:1px solid #dbd9d9;
}  
.total{
    margin-left:2px; 
    float: left; 
    margin-bottom: 10px; 
    font-size:15px;
}
.table1{
    width: 100%;
    margin:0 auto;
    background-color:white;
    font-size:12px;
    margin-top:3px;
}
th, td {
    text-align: left;
    padding: 8px;
    color:#3d3d3d;
    border: 1px solid #c6c6c6;
}

tr:nth-child(odd){background-color:#F9F9F9;}

th {
      font-size:13px;
    background-color:white;
    color: #3d3d3d;
    border: 1px solid #c6c6c6;
}

select{
    background-color:#FBFBFB;
    color:#433D43;
    padding: 6px;
    display: inline-block; 
    text-transform: uppercase;
    font-weight: 900;

}
    .fa-fa {
     font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }

    .button, .button:visited { 
    display: inline-block; 
    padding: 5px 10px 5px; 
    color: #fff; 
    text-decoration: none;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);

    position: relative;
    cursor: pointer;
    border:none;
    outline:none
    }
    .blue.button, .blue.button:visited { background-color: #23B7E5;
  /*      background-image: -webkit-linear-gradient(top, #57DAD1, #3284B3);
        background-image: -moz-linear-gradient(top, #57DAD1, #3284B3);*/ }
    .blue.button:hover{ background-color: #1d9dc4; }
    


    .button:hover{ background-color: #2196F3; color: #fff; }
    .button:active{ top: 1px; }
    .green.button, .green.button:visited        { background-color: #27C24C;
     
    }
    .green.button:hover                         { background-color: #21a540; }
    .red.button, .red.button:visited            { background-color: #F05050; 
/*       background-image: -webkit-linear-gradient(top, #FF5C5C, #d20202);
       background-image: -moz-linear-gradient(top, #FF5C5C, #d20202);*/
    }
    .red.button:hover                           { background-color: #cf2525; }
    .yellow.button, .yellow.button:visited      { background-color: #ffb515; }
    .yellow.button:hover                        { background-color: #fc9200; }
    .orange.button, .orange.button:visited      { background-color: #ff5c00; }
    .orange.button:hover                        { background-color: #d45500; }
    .small.button, .small.button:visited{ font-size: 11px}
    .button, .button:visited,
    .medium.button, .medium.button:visited { font-size: 13px; 
                                             font-weight: bold; 
                                             line-height: 1; 
                                             text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
                                             }


</style>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Attrition</h3>
                <p class="animated fadeInDown">
                    <a href="#/">Home</a> <span class="fa-angle-right fa"></span> 
                    Attrition

                </p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div style="padding-left: 20px; padding-top:5px;"> 
           
            <!--
                <select ng-model="filter.datetype" ng-hide="true">
                  <option value="Date Submitted">Date Submitted</option>
                  <option value="Date Received">Date Received</option>
                </select>
            -->
        </div>
        <div class="bck">     
            
                    <div style="float:left; margin-left:20px;margin-top: 14px;">
                        <label style="float:left;font-size: 13px;">Search</label><br>
                        <input ng-model="filter.searchstring" type="text" style="width:230px; margin-left:-43px;float:left" ng-change= "show_employees()"/>
                        <select ng-model="filter.status" style ="float:left;width:100px;margin-left:235px;
                        margin-top:-32px;"ng-change= "show_employees()">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
             
                                 
           
            <!--
                Date To: <input ng-model="filter.dateto" type="text" id="dateto" style="width:120px;"/> 
            -->
                <!-- <input type="button" class="btn btn-primary" value="SEARCH" ng-click="show_employees()"> -->


                   

                    <div style="float:left; margin-top: 10px; margin-left: -150px; margin-right:10px;">
                    <label style="float:left;font-size: 13px;">Select a Level</label><br>
                    <div
                        isteven-multi-select
                        input-model="employees.filters.level_title"
                        output-model="filter.level_title"
                        button-label="icon name"
                        item-label="icon name maker"
                        tick-property="ticked"
                        selection-mode="single"
                        style="width:150px; float:left;"
                        max-height="200px">
                    </div>
                    </br> 
                    </div>

                    <div style="float:left; margin-top: 10px;margin-right: 10px;">
                    <label style="float:left;font-size: 13px;">Select a Position</label><br>
                 
                        <div
                        isteven-multi-select
                        input-model="employees.filters.titles"
                        output-model="filter.titles"
                        button-label="icon name"
                        item-label="icon name maker"
                        tick-property="ticked"
                        selection-mode="single"
                        style="width:150px;float:left;"
                        max-height="200px"
                            >
                    </div>
                    </br>
                   
                    </div>
                <div style="float:left; margin-top:33px;margin-right:15px;">
                    <input type="button" class="medium button blue fa-fa"  value="&#xf002; SEARCH" ng-click="show_list()" style="float:left; ">
                </div></br></br></br></br>

            <!--<input type="button" class="btn btn-success" value="EXPORT" ng-click="EXPORT()">-->
        </div>
    </div>
 <div style="height:10px; width:100%;">
    </div>
 <div class="responsive-table">
        <b class="total">Total: {{employees.count}}</b>
            <table id="datatables-example" class="table1" width="90%" cellspacing="0">
                <thead>
                   
                    <tr>
                        <th col width="135">Employee Number</th>
                        <th col width="100">First Name</th>
                        <th col width="100">Middle Name</th>
                        <th>Last Name</th>
                        <th>Last Day</th>
                        <th>Effective date of resignation</th>
                        <th>Employee reason</th>
                        
                        <th>Eligibilty for Rehire</th>
                        <th>Reason</th>
                        <th>Remarks</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(k, v) in employees.data" style="cursor:pointer;" ng-if="employees.status">
                        <td>{{v.employee_id}}</td>
                        <td>{{v.personal.first_name}}</td>
                        <td>{{v.personal.middle_name}}</td>
                        <td>{{v.personal.last_name}}</td>
                        <td>{{v.hr_details.last_day}}</td>
                        <td>{{v.hr_details.effective_date}}</td> 
                        <td>{{v.hr_details.reason}}</td>
                        <td>
                         <div ng-class="v.supervisor_details.elig == 'true' && 'display'|| 'hide'" >YES</div>
                          <div ng-class="v.supervisor_details.elig == 'false' && 'display'|| 'hide'" >NO</div>
                          <div ng-class="v.supervisor_details.elig == null && 'display'|| 'hide'" >N/A</div>
                          </td>

                            <td>
                            <div ng-class="v.supervisor_details.reason == null && 'display'|| 'hide'" >N/A</div>
                            <div ng-class="v.supervisor_details.reason !== null && 'display'|| 'hide'" >{{v.supervisor_details.reason}}</div>
                            </td> 
                        <td>
                            <div ng-class="v.supervisor_details.remark == null && 'display'|| 'hide'" >N/A</div>
                             <div ng-class="v.supervisor_details.remark !== null && 'display'|| 'hide'" >{{v.supervisor_details.remark}}</div>
                            </td>
                        
                        <td><center>
                            <!-- <input type="image" src="edit.png" alt="edit" style="width:25px; height:28px"><a href="" ng-click="delete_employee()"></a>
                            <input type="image" src="delete.png" alt="delete" style="width:25px; height:28px"> <a href="" ng-click="delete_employee()"></a> -->
                            
                             <div ng-class="" ><input type="image" src="ASSETS/img/edit.png" alt="edit" style="width:16px; height:16px;margin-right:4px;" ng-click="attrition_modal(k)" title="Edit"></div>
                            <!-- <input type="image" src="ASSETS/img/delete.png" alt="delete" style="width:14px; height:14px" ng-if="v.archived=='f'" ng-click="delete_employees(k)" title="Delete"> -->
                            
                            <!-- <input type="image" src="ASSETS/img/activate.png" alt="delete"style="width:16px; height:16px" ng-if="v.archived=='t'" ng-click="activate_employees(k)" title="Activate"> -->
                                
                        </center>
                        </td>
                    </tr>
                    <tr ng-if="!employees.status" style = "text-align: center;">
                        <td colspan = "11">No Data Found</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div style="height:50px; width:100%;"></div>
    </div>
