<style type="text/css">
.red {
    color: #ff0000;
}
.total{
    font-size: 14px;
    margin: 1px 0 -100px 0px;
}
.table1{
    width: 100%;
    margin:0 auto;
    background-color:white;
    font-size:12px;
    margin-top:3px;
    table-layout:fixed;
}
.table1 th, td {
    text-align: left;
    padding: 8px;
    color:#3d3d3d;
    border: 1px solid #c6c6c6;
    overflow: hidden;

}

.table1 tr:nth-child(odd){background-color:#F9F9F9;}

.table1 th {
    font-size:13px;
    background-color:white;
    color: #3d3d3d;
    border: 1px solid #c6c6c6;
}
.bck{
    background-color: #F9F9F9;
    height:80px;
    width: 99%;

    margin-left:5px;
    border-radius: 5px;
    border:1px solid #dbd9d9;
}  
select{
    background-color:#FBFBFB;
    color:#433D43;
    padding: 4px;
    display: inline-block; 
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;

}
</style>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Daily Pass Slip</h3>
                <p class="animated fadeInDown">
                    <a href="#/">Home</a> <span class="fa-angle-right fa"></span> 
                    Management <span class="fa-angle-right fa"></span>  
                    Daily Pass Slip
                </p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class ="bck">
            <div style="padding-left: 20px; padding-top:20px;">
                <div style="font-size: 18px;">
                    <div style="margin-left:5px;float:left; margin-right:10px;margin-top:-13px;">
                        <label style="float:left;font-size: 15px;">Date From:</label><br>
                        <input ng-model="filter.date_from" type="date" id="datefrom" style="width:165px;"/>
                    </div>
                    <div style="float:left; margin-right:-5px;margin-top:-13px;">
                       <label style="float:left;font-size: 15px;">Date To:</label><br> <input ng-model="filter.date_to" type="date" id="dateto" style="width:165px;"/>
                    </div>
                    <div style="float:left; margin-left:10px;margin-top:12px;">
                        <select ng-model="filter.status" ng-change= "show_dps()" style="float:left">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                 <div class="col-md-6" style="padding-top:0px;">
                <div style="float:left; margin-right:10px;margin-top:-15px">
                    <label style="float:left;font-size: 15px;">Select an Employee</label>
                    <br>
                    <div
                        isteven-multi-select
                        input-model="myemployees"
                        output-model="filter.myemployees"
                        button-label="icon name"
                        item-label="icon name maker"
                        tick-property="ticked"
                        selection-mode="single"
                        style="width:250px; float:left;"
                        max-height="200px" 

                            >
                    </div>
                    </div>
                        <input type="button" class="medium button blue fa-fa" value="&#xf002; SEARCH" ng-click="show_list()" style="float:left; margin-top: 14px;margin-left:1px;">
                    </div>

                    <div style="clear:both;"></div>
                </div>
                </div>
            </div>

            <div style="height:10px; width:100%;">

            </div>

            <div style="margin-top:30px;">
                <b class="total">Total: {{dps.count}}</b>
                <table id="datatables-example" class="table1" width="80%" cellspacing="0" style="word-break:break-all;">
                    <thead>
                        <tr>
                            <th style="width:10%;">Date Filed</th>
                            <th style="width:15%;">Employees</th>
                            <th style="width:10%;">Time From</th>
                            <th style="width:10%;">Time To</th>
                            <th style="width:35%;">Reason</th>
                            <th style="width:10%;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(k, v) in dps.data" style="cursor:pointer;" ng-if="dps.status">
                            <td ng-bind-html="v.datecreated_html"></td>
                            <td>{{v.employee}}</td>
                            <td ng-bind-html="v.timefrom_html"></td>
                            <td ng-bind-html="v.timeto_html"></td>
                            <td ng-bind-html="v.reason" class="remarks"></td>
                            <td>
                                <div ng-class ="v.status === 'Pending' && 'hide' || 'display'">
                                    {{v.status}} 
                                </div>
                                <div ng-class ="v.status === 'Pending' && 'display' || 'hide'"> 
                                <button class="medium button red fa-fa" ng-hide = "rejected" ng-click = "disapprove (k)" value = "Disapprove" > 
                                    <img src="./ASSETS/img/thumbs_down.png" style="width:24px;"/>
                                </button>
                                <button class="medium button green fa-fa" ng-click = "approve (k)" value = "Approve" > 
                                    <img src="./ASSETS/img/thumbs_up.png" style="width:24px;"/>
                                </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="!dps.status" style = "text-align: center;">
                            <td colspan = "6" style="text-align:center;">No data found</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div style="height:50px; width:100%;">

            </div>
        </div>
    </div>
</div>
