
<style type="text/css">
.red {
    color: #ff0000;
}
</style>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h2 class="animated fadeInLeft">Leave</h2>
                <p class="animated fadeInDown">
                    <a href="#/">Home</a> <span class="fa-angle-right fa"></span> 
                    Management <span class="fa-angle-right fa"></span> 
                    Leave
                </p>
            </div>
        </div>
    </div>

    <div class="responsive-table">
        <table id="datatables-example" width="70%" cellspacing="0">
            <thead>
                <tr>
                    <th><font size = 4>Employee Name</font></th>
                    <th><font size = 4>Type of Leave</font></th>
                    <th><font size = 4>Start Date</font></th>
                    <th><font size = 4>End Date</font></th>
                    <th><font size = 4>Status</font></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(k, v) in leaves_filed.data" style="cursor:pointer;">
                    <td>{{v.name}}</td>
                    <td>{{v.leave_type}}</td>
                    <td>{{v.datestarted}}</td>
                    <td>{{v.dateended}}</td>
                    <td> 
                        <div ng-class ="v.status === 'Pending' && 'hide' || 'display'">
                        {{v.status}} 
                        </div>
                        <div ng-class ="v.status === 'Pending' && 'display' || 'hide'"> 
                            <input type= "button" ng-click = "show_approve(k)" value = "Approve" /> 
                            <input type= "button" ng-hide = "rejected" ng-click = "show_disapprove(k)" value = "Disapprove"/> 
                        </div>
                    </td>
                </tr>        
            </tbody>
        </table>
    </div>
    <div style="height:50px; width:100%;">

        </div>
    </div>
</div>


