
<style type="text/css">
.red {
    color: #ff0000;
}
</style>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h2 class="animated fadeInLeft">Leave</h2>
                <p class="animated fadeInDown">
                    Management <span class="fa-angle-right fa"></span> 
                    Leave
                </p>
            </div>
        </div>
    </div>
    <div style="font-size: 16px; font-weight: bold;">
        <div style="float:left;">
            Date From: <input ng-model="filter.date_from" type="date" id="datefrom" style="width:150px; height: 34px;"/>
            Date To: <input ng-model="filter.date_to" type="date" id="dateto" style="width:150px; height: 34px;"/>
            
        </div>
        <div style="float:left; margin-left:10px;">
            <div style="float:left; padding-top:5px;">Employees: </div>
            <div
                isteven-multi-select
                input-model="myemployees"
                output-model="filter.myemployees"
                button-label="icon name"
                item-label="icon name maker"
                tick-property="ticked"
                selection-mode="single"
                style="width:250px; float:left;"
                max-height="200px" 
                >
            </div>
            <div style="clear:both;"></div>
        </div>

        <div style="float:left; margin-left:10px;">
            <div style="float:left; padding-top:5px;">Leave Type: </div>
            <div
                isteven-multi-select
                input-model="leave_types"
                output-model="filter.leave_type"
                button-label="icon name"
                item-label="icon name maker"
                tick-property="ticked"
                selection-mode="single"
                style="width:200px; float:left;"
                max-height="200px" 
                >
            </div>
            <div style="clear:both;"></div>
        </div>
        
        <div style="float:left; margin-left:10px;">
            <input type="button" class="btn btn-primary" value="SEARCH" ng-click="leaves_filed()" />
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="responsive-table" style="margin-top:20px;">
        <table id="datatables-example" width="70%" cellspacing="0">
            <thead>
                <tr>
                    <th><font size = 4>Employee Name</font></th>
                    <th><font size = 4>Type of Leave</font></th>
                    <th><font size = 4>Start Date</font></th>
                    <th><font size = 4>End Date</font></th>
                    <th><font size = 4>Reason</font></th>
                    <th><font size = 4>Status</font></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(k, v) in leaves_filed.data" style="cursor:pointer;" ng-if="leaves_filed.status">
                    <td>{{v.name}}</td>
                    <td>{{v.leave_type}}</td>
                    <td>{{v.date_started}}</td>
                    <td>{{v.date_ended}}</td>
                    <td>{{v.reason}}</td>
                    <td> 
                        <div ng-class ="v.status === 'Pending' && 'hide' || 'display'">
                        {{v.status}} 
                        </div>
                        <div ng-class ="v.status === 'Pending' && 'display' || 'hide'"> 
                            <input type= "button" ng-click = "respond(k, 'approve')" value = "Approve" /> 
                            <input type= "button" ng-hide = "rejected" ng-click = "respond(k, 'disapprove')" value = "Disapprove"/> 
                        </div>
                    </td>
                </tr> 
                <tr ng-if="!leaves_filed.status" style= "text-align: center;">
                        <td colspan = "9">No Data Found</td>
                    </tr> 
            </tbody>
        </table>
    </div>
    <div style="height:50px; width:100%;">

        </div>
    </div>
</div>


