<style type ="text/css">

.bck{
    background-color: #F9F9F9;
    height:300px;
    width: 305px;

    margin-left:-40px;
    border-radius: 5px;
    border:1px solid #dbd9d9;
}  
.imageprofile{
    border-radius:50%;
    height:180px;
    border: 5px solid white;

}
.company{
   
    width: 100%;
    background-color: #F9F9F9;
    padding:5px;
    padding-left:10px;
    border:1px solid #dbd9d9;
    border-radius:5px 5px 0 0;
    font-weight: bold;
    font-size:14px;
}
.companyinfo{
    background-color:#ffffff;
    border:1px solid #dbd9d9;
    margin-top:1px;
    border-top  :0;
    padding:20px;

}
table{
    width:580px;
    table-layout:fixed;
    background-color:white;     
    font-size:12px;
    margin-top:3px;
    height:20px;
    word-wrap: break-word;
}
th, td {
        word-break:break-all;
    font-size: 14px;
    word-wrap: break-word;
    width:40%;
}

#table2 th, td {
    width:90px;
    margin-left: 60px;
}

.leave-square {

    width: 100px;
    height: 130px; 
    float: left;
    margin-left:14px;
    border: 1px solid #CCC;
    padding-top: 10px;
    
}

.leave-square .leave-circle {
    width: 80px;
    height: 80px;
    border: 2px solid #CCC;
    border-radius: 50%; 
    padding-:50px;
    padding: 29px 5px;
    font-size: 16px;
    text-align: center;
    margin-left: 9px;
    color: #e30000;
}

.leave-square label {
    width: 100%;
    text-align: center;
    margin-top:3px;
    margin-bottom: 20PX;
    color: #1c84c6;font-size:12px;
}



</style>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Profile</h3>
                <p class="animated fadeInDown">
                    <a href="#/">Home</a> <span class="fa-angle-right fa"></span> 
                    Profile
                </p>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row">
                <div class ="col-md-2">
                <img src="{{profile.details.personal.profile_picture}}" class="imageprofile"/>
                </div>
                <div class ="col-md-4" style="padding:30px;word-wrap: break-word;">
                       <h1 style="color:#2196F3;">{{ profile.details.personal.first_name }} {{ profile.details.personal.middle_name }} {{ profile.details.personal.last_name }} </h1>
                <div style="font-weight:900;margin-top:-10px;margin-left:3px;">{{ profile.titles }}</div>
                </div>

                     <div class ="col-md-3" style="border-left:2px solid #d9d9d9; word-wrap: break-word;font-size:12px;margin-top:20px;padding-top:10px;padding-bottom:10px;">
                                                       
                            
                             <div style="color:#1c84c6;"><b>Contact #:</b></div><div style="margin-left:30px;">{{ profile.details.personal.contact_number }}</div> 
                             <div style="color:#1c84c6;"><b>Email:</b></div><div style="margin-left:30px;">{{ profile.details.personal.email_address }}</div>
                             <div style="color:#1c84c6;"><b>Present Address:</b></div><div style="margin-left:30px;">{{ profile.details.personal.present_address }}</div>
                             <div style="color:#1c84c6;"><b>Permanent Address:</b></div><div style="margin-left:30px;">{{ profile.details.personal.permanent_address }}</div>
                        

                      </div>
                      <div class ="col-md-3" style="word-wrap: break-word;font-size:12px;margin-top:20px;
                      padding-top:10px;padding-bottom:10px;">

                            <div style="color:#1c84c6;"><b>Birthday:</b></div><div style="margin-left:30px;">{{ profile.details.personal.birth_date | date }}</div>
                            <div style="color:#1c84c6;"><b>Civil Status:</b></div><div style="margin-left:30px;">{{ profile.civil_types }}</div>
                            <div style="color:#1c84c6;"><b>Religion:</b></div><div style="margin-left:30px;">{{ profile.details.personal.religion }}</div>
                             <div style="color:#1c84c6;"><b>Gender:</b></div><div style="margin-left:30px;">{{ profile.gender_type }}</div>
                          
                      </div>  
                            <div style="word-wrap: break-word;font-size:12px;margin-top:20px;
                                padding-top:10px;padding-bottom:10px;width:150px;position:absolute;right:30px;">
                              <div style="color:#1c84c6;"><b>In Case Of Emergency:</b></div><div style="margin-left:30px;">Name: {{ profile.details.personal.emergency_contact_name }} <br>Contact #: {{ profile.details.personal.emergency_contact_number }}</div>
                            </div>  
              </div>    


            </div>   
        <div class ="row">
               
            <div class ="col-md-6" style="word-wrap: break-word;font-size:14px;margin-top:20px;
                      padding-top:10px;padding-bottom:10px;">
            <div class="panel panel-default">
                 <div class="panel-heading" style="font-weight:900">Company Profile</div>
                    <div class="panel-body">

                        <table style="margin-left:30px;">
                            <tr>
                                <td style="width:33%;" >
                                   <b> Employee ID:</b>
                                </td>    
                                <td style="width:50%;">
                                    {{ profile.details.company.employee_id }}
                                </td>
                            </tr>   
                            <tr>
                                <td>
                                    <div><b>Start Date:</b></div>
                                </td>
                                 <td>
                                    <div> {{ profile.details.company.date_started | date }} </div>
                                </td>

                            <tr>
                            </tr>    
                                <td>
                                   <div><b>Business Email Address:</b></div>
                                </td>
                                <td>
                                    <div> {{ profile.details.company.business_email_address }}</div>
                                </td>
                             
                            </tr>
                            <tr>
                             
                             
                                <td>
                                    <div><b>Level</b></div>
                                </td>
                                <td>
                                    <div>{{ profile.level }}</div>
                                </td>
                            </tr>
                         
                           <tr>
                                <td>
                                    <div><b>Position:</b></div>
                                </td>
                                <td>
                                    <div> {{ profile.title }}</div>
                                </td>

                          

                           </tr>
                            <tr>

                                <td>
                                    <div><b>Supervisor:</b></div>
                                </td>
                                <td>
                                    <div>{{ profile.supervisor }}</div>
                                </td>

                               
                           </tr>
                           <tr>
                                <td>
                                    <div><b>Department:</b></div>
                                </td>
                                <td>
                                    <div>{{ profile.department }}</div>
                                </td>

                           </tr>
                             <tr>
                                <td>
                                    <div><b>Employment Type:</b></div>
                                </td>
                                <td>
                                    <div>{{ profile.employee_type }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div><b>Employee Status:</b></div>
                                </td>
                                <td>
                                    <div>{{ profile.employment_status }}</div>
                                </td>
                             </tr>   
                             <tr ng-show=" profile.details.company.salary !== null ">
                                <td>
                                    <div><b>Salary Type:</b></div>
                                </td>
                                <td ng-show="profile.details.company.salary.salary_type == 1">
                                <div>Bank</div>
                                </td>
                                <td ng-show="profile.details.company.salary.salary_type == 2">
                                <div>Cash</div>
                                </td>
                                <td ng-show="profile.details.company.salary.salary_type == 3">
                                <div>Wire</div>
                                </td>
                            </tr>
                             <tr ng-show="isShown('1')">
                                <td>
                                    <div><b>Bank Name:</b></div>
                                </td>
                                <td>
                                    <div>{{profile.details.company.salary.details.bank_name}}</div>
                                </td>
                            </tr>
                            <tr ng-show="isShown('1')">
                                <td>
                                    <div><b>Account No:</b></div>
                                </td>
                                <td>
                                    <div>{{profile.details.company.salary.details.account_number}}</div>
                                </td>
                             </tr>
                             <tr ng-show="isShown('1')">
                                <td>
                                    <div><b>Amount:</b></div>
                                </td>
                                <td>
                                    <div>{{profile.details.company.salary.details.amount}}</div>
                                </td>
                             </tr>

                             <tr ng-show="isShown('3')">
                                <td>
                                    <div><b>Mode Of Payment:</b></div>
                                </td>
                                <td>
                                    <div>{{profile.details.company.salary.details.mode_payment}}</div>
                                </td>
                            </tr>
                            <tr ng-show="isShown('3')">
                                <td>
                                    <div><b>Account No:</b></div>
                                </td>
                                <td>
                                    <div>{{profile.details.company.salary.details.account_number}}</div>
                                </td>
                             </tr>
                             <tr ng-show="isShown('3')">
                                <td>
                                    <div><b>Amount:</b></div>
                                </td>
                                <td>
                                    <div>{{profile.details.company.salary.details.amount}}</div>
                                </td>
                             </tr>
                              <tr ng-show="isShown('2')">
                                <td>
                                    <div><b>Amount:</b></div>
                                </td>
                                <td>
                                    <div>{{profile.details.company.salary.details.amount}}</div>
                                </td>
                             </tr>
                             <tr>
                                <td>
                                    <div><b>Pay Period:</b></div>
                                </td>
                                <td ng-show="profile.details.company.salary.pay_period_pk == 1">
                                    <div>Daily</div>
                                </td>
                                <td ng-show="profile.details.company.salary.pay_period_pk == 2">
                                    <div>Weekly</div>
                                </td>
                                <td ng-show="profile.details.company.salary.pay_period_pk == 3">
                                    <div>Semi-Monthly</div>
                                </td>
                                <td ng-show="profile.details.company.salary.pay_period_pk == 4">
                                    <div>Monthly</div>
                                </td>
                                <td ng-show="profile.details.company.salary.pay_period_pk == 5">
                                    <div>Annually</div>
                                </td>
                             </tr>
                             <tr>
                                <td>
                                    <div><b>Rate Type:</b></div>
                                </td>
                                <td ng-show="profile.details.company.salary.rate_type_pk == 1">
                                    <div>Hourly</div>
                                </td>
                                <td ng-show="profile.details.company.salary.rate_type_pk == 2">
                                    <div>Daily</div>
                                </td>
                                <td ng-show="profile.details.company.salary.rate_type_pk == 3">
                                    <div>Monthly</div>
                                </td>
                             </tr>

                    </table>
                        
                </div>   
              </div>

              <div class ="col-md-12" style="word-wrap: break-word;font-size:14px;margin-top:-20px;
                      width:644px;margin-left:-15px;margin-top:10px;">
             <div class="panel panel-default">
                 <div class="panel-heading" style="font-weight:900">Government Mandated Benefits</div>
                    <div class="panel-body">

                        <table width="40%">
                            <tr>
                                <td>
                                <div style="font-weight:bold;">PHIC:</div>
                                </td>
                                <td>
                                      <div style="">{{ profile.details.government.data_phid }}</div>
                                </td>
                                <td>
                                <div style="font-weight:bold;">HDMF:</div>
                                </td>
                                <td>
                                      <div style="">{{ profile.details.government.data_pagmid }}</div>
                                </td>
                            </tr>
                            <tr>    
                                <td>
                                <div style="font-weight:bold;">TIN:</div>
                                </td>
                                <td>
                                      <div style="">{{ profile.details.government.data_tin }}</div>
                                </td>    
                                <td>
                                <div style="font-weight:bold;">SSS:</div>
                                </td>
                                <td>
                                      <div style="">{{ profile.details.government.data_sss }}</div>
                                </td>
                            </tr>
                           
                        </table>       
                    </div>
                </div>
            </div>
          </div>


            <div class ="col-md-6" style="word-wrap: break-word;font-size:14px;margin-top:20px;
                      padding-top:10px;padding-bottom:10px;">
            <div class="panel panel-default">
                 <div class="panel-heading" style="font-weight:900">Educational Attainment</div>
                    <div class="panel-body" word-wrap: break-word;>

 
                        <table id="table2" width="90%" ng-repeat="education in profile.details.education.school_type">
                            <tr >
                                <td style="width:33%" >
                                <div style="color:#1c84c6;margin-bottom:-20px"><b><i>{{ education.educ_level }}</i><b></div>
                                </td>
                                <td style="width:73%">
                                </td>    
                            </tr>
                            <tr >
                                <td >
                                   <div><b>School Name:</b></div>
                                </td>
                                <td>
                                    <div style="margin-top:15px;">{{ education.school_name }}
                                    </div>
                                </td>
                               
                            </tr>
                            <tr>
                                 <td>
                                    <div><b>Location:</b></div>
                                </td>
                                 <td>
                                    <div>{{ education.school_location }}</div>
                                </td>
                            </td>
                            <tr>
                                   <td>
                                    <div ><b >From Date:</b></div>
                                    <div>{{ education.date_from_school | date: "MMMM dd, yyyy" }}</div>
                                    </td>
                                   
                                    <td>
                                        <div><b>To Date:</b></div>
                                        <div>{{ education.date_to_school | date: "MMMM dd, yyyy" }}</div>
                                    </td>
                                    <td>
                                        <div></div>
                                    </td>

                            </tr>
                           

                        </table>
                         


                    </div>

                  </div>



              <div class ="col-md-12" style="word-wrap: break-word;font-size:14px;margin-top:-20px;
                      width:644px;margin-left:-15px;margin-top:10px;">
             <div class="panel panel-default">
                 <div class="panel-heading" style="font-weight:900">Leave Balances</div>
                    <div class="panel-body">

                          <div class="leave-square" style="margin-bottom:10px;" ng-repeat="(k, v) in profile.leave_balances">
                            <div class="leave-circle" >{{v}}</div>
                            <label>{{k}}</label>
                        </div> 
                 
                       
                    </div>
                </div>
            </div>
                </div>
            
          
        
         </div>
        </div>         
      </div>

</div>    
