<style type ="text/css">

.bck{
    background-color: #F9F9F9;
    height:300px;
    width: 305px;

    margin-left:-40px;
    border-radius: 5px;
    border:1px solid #dbd9d9;
}  
.imageprofile{
    border-radius:50%;
    height:180px;
    border: 5px solid white;

}
.company{
   
    width: 100%;
    background-color: #F9F9F9;
    padding:5px;
    padding-left:10px;
    border:1px solid #dbd9d9;
    border-radius:5px 5px 0 0;
    font-weight: bold;
    font-size:14px;
}
.companyinfo{
    background-color:#ffffff;
    border:1px solid #dbd9d9;
    margin-top:1px;
    border-top  :0;
    padding:20px;

}
table{
    width:550px;
   
    background-color:white;     
    font-size:12px;
    margin-top:3px;
    height:20px;
    word-wrap: break-word;
}
th, td {

    font-size: 14px;
    word-wrap: break-word;
    width:40%;
}

#table2 th, td {
    width:90px;
    margin-left: 60px;
}



</style>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Profile</h3>
                <p class="animated fadeInDown">
                    <a href="#/">Home</a> <span class="fa-angle-right fa"></span> 
                    Profile
                </p>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row">
                <div class ="col-md-2">
                <img src="{{profile.details.personal.profile_picture}}" class="imageprofile"/>
                </div>
                <div class ="col-md-4" style="padding:30px;word-wrap: break-word;">
                       <h1 style="color:#2196F3;">{{ profile.details.personal.first_name }} {{ profile.details.personal.last_name }} </h1>
                <div style="font-weight:900;margin-top:-10px;margin-left:3px;">{{ profile.titles }}</div>
                </div>

                     <div class ="col-md-3" style="border-left:2px solid #d9d9d9; word-wrap: break-word;font-size:12px;margin-top:20px;padding-top:10px;padding-bottom:10px;">
                                                       
                            
                             <div><b>Contact #:</b></div><div style="margin-left:30px;">{{ profile.details.personal.contact_number }}</div> 
                             <div><b>Email:</b></div><div style="margin-left:30px;">{{ profile.details.personal.email_address }}</div>
                             <div><b>Present Address:</b></div><div style="margin-left:30px;">{{ profile.details.personal.present_address }}</div>
                             <div><b>Permanent Address:</b></div><div style="margin-left:30px;">{{ profile.details.personal.permanent_address }}</div>
                        

                      </div>
                      <div class ="col-md-2" style="word-wrap: break-word;font-size:12px;margin-top:20px;
                      padding-top:10px;padding-bottom:10px;">

                            <div><b>Birthday:</b></div><div style="margin-left:30px;">{{ profile.details.personal.birth_date | date:"MMMM dd, yyyy" }}</div>
                            <div><b>Civil Status:</b></div><div style="margin-left:30px;">{{ profile.civil_types }}</div>
                            <div><b>Religion:</b></div><div style="margin-left:30px;">{{ profile.details.personal.religion }}</div>
                             <div><b>Gender:</b></div><div style="margin-left:30px;">{{ profile.details.personal.gender_pk }}</div>
                            <div><b>In Case Of Emergency:</b></div><div style="margin-left:30px;">{{ profile.details.personal.emergency_contact_name }} {{ profile.details.personal.emergency_contact_number }}</div>
                      </div>  
            
              </div>    


            </div>   
        <div class ="row">
               
            <div class ="col-md-6" style="word-wrap: break-word;font-size:14px;margin-top:20px;
                      padding-top:10px;padding-bottom:10px;">
            <div class="panel panel-default">
                 <div class="panel-heading" style="font-weight:900">Company Profile</div>
                    <div class="panel-body">

                        <table>
                            <tr>
                                <td >
                                   <b> Employee ID:</b>
                                </td>    
                                <td>
                                    {{ profile.details.company.employee_id }}
                                </td>
                            </tr>   
                            <tr>
                                <td>
                                   <div><b>Business Email Address:</b></div>
                                </td>
                                <td>
                                    <div> {{ profile.details.company.business_email_address }}</div>
                                </td>
                                <td>
                                    <div><b>Start Date:</b></div>
                                </td>
                                 <td>
                                    <div> {{ profile.details.company.date_started | date: "MMMM dd, yyyy" }} </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div><b>Position:</b></div>
                                </td>
                                <td>
                                    <div> {{ profile.titles }}</div>
                                </td>

                                <td>
                                    <div><b>Supervisor:</b></div>
                                </td>
                                <td>
                                    <div>{{ profile.supervisor }}</div>
                                </td>

                               
                            </tr>
                           <tr>
                                <td>
                                    <div><b>Level Id:</b></div>
                                </td>
                                <td>
                                    <div>{{ profile.levels }}</div>
                                </td>

                                <td>
                                    <div><b>Employee Status:</b></div>
                                </td>
                                <td>
                                    <div>{{ profile.employment_status }}</div>
                                </td>

                           </tr>
                           <tr>
                                <td>
                                    <div><b>Department:</b></div>
                                </td>
                                <td>
                                    <div>{{ profile.deparments }}</div>
                                </td>

                           </tr>
                             <tr>
                                <td>
                                    <div><b>Employment Type:</b></div>
                                </td>
                                <td>
                                    <div>{{ profile.employment_typess }}</div>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <div><b>Salary type:</b></div>
                                </td>
                                <td>
                                    <div>111111</div>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <div><b>Bank Name:</b></div>
                                </td>
                                <td>
                                    <div>111111</div>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <div><b>Amount:</b></div>
                                </td>
                                <td>
                                    <div>111111</div>
                                </td>
                             </tr>

                    </table>
                        
                </div>   
              </div>

              <div class ="col-md-12" style="word-wrap: break-word;font-size:14px;margin-top:-20px;
                      width:644px;margin-left:-15px;margin-top:10px;">
             <div class="panel panel-default">
                 <div class="panel-heading" style="font-weight:900">Government Mandated Benefits</div>
                    <div class="panel-body">

                        <table width="40%">
                            <tr>
                                <td>
                                <div style="font-weight:bold;">PHIC:</div>
                                </td>
                                <td>
                                      <div style="">{{ profile.details.government.data_phid }}</div>
                                </td>
                                <td>
                                <div style="font-weight:bold;">HDMF:</div>
                                </td>
                                <td>
                                      <div style="">{{ profile.details.government.data_pagmid }}</div>
                                </td>
                            </tr>
                            <tr>    
                                <td>
                                <div style="font-weight:bold;">TIN:</div>
                                </td>
                                <td>
                                      <div style="">{{ profile.details.government.data_tin }}</div>
                                </td>    
                                <td>
                                <div style="font-weight:bold;">SSS:</div>
                                </td>
                                <td>
                                      <div style="">{{ profile.details.government.data_sss }}</div>
                                </td>
                            </tr>
                            <tr>
                            </tr>   
                        </table>       
                    </div>
                </div>
            </div>
          </div>


            <div class ="col-md-6" style="word-wrap: break-word;font-size:14px;margin-top:20px;
                      padding-top:10px;padding-bottom:10px;">
            <div class="panel panel-default">
                 <div class="panel-heading" style="font-weight:900">Educational Attainment</div>
                    <div class="panel-body">

 
                        <table id="table2" width="100%" ng-repeat="education in profile.details.education.school_type">
                            <tr >
                                <td>
                                <div >{{ education.educ_level }}</div>
                                </td>
                            </tr>
                            <tr >
                                <td>
                                   <div><b>School Name:</b></div>
                                </td>
                                <td>
                                    <div>{{ education.school_name }}</div>
                                </td>
                                <td>
                                    <div><b>Location:</b></div>
                                </td>
                                 <td>
                                    <div>{{ education.school_location }}</div>
                                </td>
                            </tr>
                            <tr>
                                   <td>
                                    <div><b>From Date:</b></div>
                                    </td>
                                    <td>
                                        <div>{{ education.date_from_school | date: "MMMM dd, yyyy" }}</div>
                                    </td>
                                    <td>
                                        <div><b>To Date::</b></div>
                                    </td>
                                    <td>
                                        <div>{{ education.date_to_school | date: "MMMM dd, yyyy" }}</div>
                                    </td>

                            </tr>
                           

                        </table>
                         


                    </div>

                  </div>



              <div class ="col-md-12" style="word-wrap: break-word;font-size:14px;margin-top:-20px;
                      width:644px;margin-left:-15px;margin-top:10px;">
             <div class="panel panel-default">
                 <div class="panel-heading" style="font-weight:900">Leave Balances</div>
                    <div class="panel-body">

                         <table style="margin-left:20px;"width="10%">
                        
                            <tr ng-repeat =" (k,v) in profile.leave_balances">   
                                <td >
                                    <b>{{ k }} :</b> 
                                </td>
                                <td>
                                    {{ v }}
                                </td>
                            </tr>    
                        </table>       

 
                       
                    </div>
                </div>
            </div>
                </div>
            
          
        
         </div>
        </div>         
      </div>

</div>    
