<style type="text/css">
.red {
    color: #ff0000; 
} 
.total{
    margin-right:120px; 
    float: left; 
    margin-bottom: 10px; 
    font-size:15px;
}
.bck{ 
    background-color: #F9F9F9;
    height:80px;
    width: 100%;
    margin-left:-8px;
    border-radius: 5px;
    border:1px solid #dbd9d9;
}  
.total{
    margin-left:60px; 
    float: left; 
    margin-bottom: 10px; 
    font-size:15px;
}
.tblemployees td{
    border:0px;
    background-color:#F0F0F0;

}

.table1{
    width: 91.3%;
    margin:0 auto;
    background-color:white;
    font-size:12px;
    margin-top:3px;
    table-layout:fixed;
}
th, td {
    text-align: left;
    padding: 8px;
    color:#3d3d3d;
    border: 1px solid #c6c6c6;
       overflow: hidden;
    word-break:break-all;
}

tr:nth-child(odd){background-color:#F9F9F9;}

th {
      font-size:13px;
    background-color:white;
    color: #3d3d3d;
    border: 1px solid #c6c6c6;
}

select{
    background-color:#FBFBFB;
    color:#433D43;
    padding: 6px;
    display: inline-block; 
    text-transform: uppercase;
    font-weight: 900;

}



</style>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Employees</h3>
                <p class="animated fadeInDown">
                    <a href="#/">Home</a> <span class="fa-angle-right fa"></span> 
                    Employees

                </p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div style="padding-left: 20px; padding-top:5px;"> 
           
            <!--
                <select ng-model="filter.datetype" ng-hide="true">
                  <option value="Date Submitted">Date Submitted</option>
                  <option value="Date Received">Date Received</option>
                </select>
            -->
                <div class="bck">     
            
                    <div style="float:left; margin-left:20px;margin-top: 14px;">
                        <label style="float:left;font-size: 13px;">Search</label><br>
                        <input ng-model="filter.searchstring" type="text" style="width:230px; margin-left:-43px;float:left" ng-change= "show_employees()"/>
                        <select ng-model="filter.status" style ="float:left;width:100px;margin-left:235px;
                        margin-top:-32px;"ng-change= "show_employees()">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
             
                                 
           
            <!--
                Date To: <input ng-model="filter.dateto" type="text" id="dateto" style="width:120px;"/> 
            -->
                <!-- <input type="button" class="btn btn-primary" value="SEARCH" ng-click="show_employees()"> -->


                    <div style="float:left; margin-left:-178px;margin-top: 10px;margin-right: 6px;">
                    <label style="float:left;font-size: 13px;">Select a Department</label><br>
                    <div
                        isteven-multi-select
                        input-model="employees.filters.department"
                        output-model="filter.department"
                        button-label="icon name"
                        item-label="icon name maker"
                        tick-property="ticked"
                        selection-mode="single"
                        style="width:150px; float:left;"
                        max-height="200px"
                            >
                    </div>
                    </br>
                    </div>

                    <div style="float:left; margin-top: 10px;margin-left:-18px;margin-right:10px;">
                    <label style="float:left;font-size: 13px;">Select a Level</label><br>
                    <div
                        isteven-multi-select
                        input-model="employees.filters.level_title"
                        output-model="filter.level_title"
                        button-label="icon name"
                        item-label="icon name maker"
                        tick-property="ticked"
                        selection-mode="single"
                        style="width:150px; float:left;"
                        max-height="200px"
                            >
                    </div>
                    </br> 
                    </div>

                    <div style="float:left; margin-top: 10px;margin-right: 10px;">
                    <label style="float:left;font-size: 13px;">Select a Position</label><br>
                 
                        <div
                        isteven-multi-select
                        input-model="employees.filters.titles"
                        output-model="filter.titles"
                        button-label="icon name"
                        item-label="icon name maker"
                        tick-property="ticked"
                        selection-mode="single"
                        style="width:150px;float:left;"
                        max-height="200px"
                            >
                    </div>
                    </br>
                   
                    </div>
                <div style="float:left; margin-top:33px;margin-right:15px;">
                    <input type="button" class="medium button blue fa-fa"  value="&#xf002; SEARCH" ng-click="show_list()" style="float:left; ">
                </div>
                    <div style="float:left; margin-top:33px;">

                     <input type="button" class="medium button green fa-fa" value="&#xf1c3; EXPORT" ng-click="export_employeelist()"; style="float:left;margin-right:10px;">

                        <a href = "#/employees/new"><input type="button" class="medium button red fa-fa" value="&#xf055; ADD NEW EMPLOYEE" style="float:left;margin-right:1px;">

                        </a>
                       
                       
                    </div>

               </div>

        </div>
        </div> 

            <!--<input type="button" class="btn btn-success" value="EXPORT" ng-click="EXPORT()">-->
           
    </div>
        <div style="height:10px; width:100%;">

        </div>
       
             <b class="total">Total: {{employees.count}}</b>
            <table id="datatables-example" class="table1" width="90%" cellspacing="0">
                <thead>
                   
                    <tr>
                        <th col width="80">Employee Number</th>
                        <th col width="55">First Name</th>
                        <th col width="65">Middle Name</th>
                        <th col width="55">Last Name</th>
                        <th col width="120">E-mails</th>
                        <th col width="60">Supervisor</th>
                        <th col width="90">Position</th>
                        <th col width="70">Level</th>
                        <th col width="65">Department</th>
                        <th col width="50">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(k, v) in employees.data" style="cursor:pointer;" ng-if="employees.status">
                        <td>{{v.employee_id}}</td>
                        <td>{{v.first_name}}</td>
                        <td>{{v.middle_name}}</td>
                        <td>{{v.last_name}}</td>
                        <td>{{v.email_address}}</br> {{v.business_email_address}}</td>
                        <td>
                            {{v.supervisor}}
                            <!-- <div ng-repeat = "(k, v) in groupings.data" style="cursor:pointer;" value="{{v.pk}}" ng-if="employees.status"> {{v.supervisor_pk}}</div> -->
                        </td>
                        <td>{{v.title}}</td>
                        <td>{{v.level}} </br> {{v.details.company.hours}}</td> 
                        <td>{{v.department}}</td>
                        <td><center> 
                            <!-- <input type="image" src="edit.png" alt="edit" style="width:25px; height:28px"><a href="" ng-click="delete_employee()"></a>
                            <input type="image" src="delete.png" alt="delete" style="width:25px; height:28px"> <a href="" ng-click="delete_employee()"></a> -->
                            <input type="image" src="ASSETS/img/edit.png" alt="edit" style="width:16px; height:16px;margin-right:4px;" ng-click="edit_employees(k)" title="Edit">

                            <input type="image" src="ASSETS/img/delete.png" alt="delete" style="width:14px; height:14px" ng-if="v.archived=='f'" ng-click="delete_employees(k)" title="Delete">
                            
                            <input type="image" src="ASSETS/img/activate.png" alt="delete"style="width:16px; height:16px" ng-if="v.archived=='t'" ng-click="activate_employees(k)" title="Activate">
                                
                        </center>
                        </td>
                    </tr>
                    <tr ng-if="!employees.status" style = "text-align: center;">
                        <td colspan = "10">No Data Found</td>
                    </tr>

                </tbody>
            </table>
       
        <div style="height:50px; width:100%;">

        </div>
    </div>
</div>

<script type="text/ng-template" id="EditModal" class="ngdialog-buttons">
    <div class="ngdialog-message" style="width: 500px;">
        <div style="margin-top: -5px;">
            <h3><span style="color:#0c79be; margin-left:25px">{{ modal.title }}</span></h3>
        </div>

            <style type="text/css">
                #submit {
                    color: #2196f3 !important;
                }

                #submit:hover{
                    background-color: #e7e7e7;
                }

                body>footer {
                    /*background-color: #eee;*/
                    font-size: 11px;
                    position: fixed;
                    bottom: 0;
                    padding: 8px;
                    /*width: 100%;*/
                    width: 400px;

                    max-height: 450px;
                    display: block;

                    /*additional remove to make a footer and uncomment comments above*/
                    margin-left: 75%;
                }

                body>footer .footer-main {
                    width: 100%;
                    text-align: right;   
                }

                .red {
                    color: #ff0000;
                }

                .container {
                    width: 500px;
                    clear: both;
                }
                .container input {
                    width: 100%;
                    clear: both;
                }
                #css .ng-dirty.ng-valid {
                border:1px solid Green;
                }
                #css .ng-dirty.ng-invalid {
                    border:1px solid Red;
                }

            </style>


            <div id="content2" style="margin: 20px; border:0px solid #f0f0f0;">
            
                 <div>
                    <div class="content-box-large">
                        <div class="panel-title">
                            <ul class="nav nav-tabs">
                                <li data-ng-class="{ 'active' : data.mainmenu == 'uoms' }">
                                    <a style="cursor:pointer;" href="#/items/uoms">Personal Information</a>
                                </li>
                                <li data-ng-class="{ 'active' : data.mainmenu == 'suppliers' }" >
                                    <a style="cursor:pointer;" href="#/items/suppliers">System Permissions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <form name="myForm" novalidate>
                    <table class="tblemployees">
                             <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px; font-size:14px; width:120px  ; border:0px solid #f0f0f0;">First Name:</label> 
                            </td>
                            <td id="css">     
                                <input name="firstName" required ng-model="employees.first_name" ng-change="data_data.fname = employees.first_name" type="text" style="display: block; float: left; width:340px; height:36px;"  capitalize-first />
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.firstName.$error.required">First Name is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px; font-size:14px; width:120px  ; border:0px solid #f0f0f0;">E-mail Address:</label>
                            </td>
                            <td id="css">
                                <input name="emailAddress" required ng-model="employees.email_address" ng-change="data.email = employees.email_address" type="email" style="display: block; float: left; width:340px;height:36px;" /> <span style="color:red; display: block; float: left; width:340px; ;" ng-show="myForm.emailAddress.$error.required">E-mail Address is required.</span>

                                <span style="color:red; display: block; float: left; width:340px;" ng-show="myForm.emailAddress.$error.email">Please, write a valid E-mail Address address.</span>
                            </td>               
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Middle Name:</label>
                            </td>
                            <td id="css">
                                <input name="middleName" required ng-model="employees.middle_name" type="text" style="display: block; float: left; width:340px; height:36px;" capitalize-first/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.middleName.$error.required">Middle Name is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Religion:</label>
                            </td>
                            <td id="css">
                                <input name="religion" required ng-model="employees.religion" type="text"  style="display: block; float: left; width:340px; height:36px;" capitalize-first/>
                                <span style="color:red;display: block; float: left; width:400px;" ng-show="myForm.religion.$error.required">Religion is required.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Last Name:</label>
                            </td>
                            <td id="css">
                                <input name="lastName" required ng-model="employees.last_name" ng-change="data_data.lname1 = employees.last_name" type="text" style="display: block; float: left; width:340px; height:36px;" capitalize-first/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.lastName.$error.required">Last Name is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Birth Date :</label>
                            </td>
                            <td id="css">
                                <input name="inputd" ng-model="employees.birth_date" type="date" style="display: block; float: left; width:340px; height:36px;" ng-required="true"/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.inputd.$error.required">Birth Date is required.</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:-10px; padding-right:10px">Gender:</label>
                            </td>
                            <td id="css">
                                <select name="gender" required ng-model="employees.gender" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="v in genders" style="cursor:pointer;" value="{{v.gender}}">
                                        {{v.gender}}
                                    </option>
                                </select>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.gender.$error.required">Gender is required.</span>
                            </td>  
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Civil Status:</label>
                            </td>
                            <td id="css">
                                <select name="cistatus" required ng-model="employees.civilstatus" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="v in civils" style="cursor:pointer;" value="{{v.civilstatus}}">
                                        {{v.civilstatus}}
                                    </option>
                                </select>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.cistatus.$error.required">Civil Status is required.</span>
                            </td> 
                        </tr>
                        <tr>
                                <td colspan = "4">
                                    <center style="font-size: 18px; font-style: bold">
                                        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)">{{modal.close}}</button>
                                        <button type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid
                                        || myForm.firstName.$dirty && myForm.firstName.$invalid
                                        || myForm.middleName.$dirty && myForm.middleName.$invalid
                                        || myForm.lastName.$dirty && myForm.lastName.$invalid
                                        || myForm.email.$dirty && myForm.email.$invalid
                                        || myForm.businessEmail.$dirty && myForm.businessEmail.$invalid" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')">{{modal.save}}</button>

                                    </center>
                                </td>
                            </tr>
                            
                    </table>
                    </form>
                </div>
            </div>
        </div>
</script>