<style type="text/css">
#submit {
    color: #2196f3 !important;
}

#submit:hover{
    background-color: #e7e7e7;
}

body>footer {
    /*background-color: #eee;*/
    font-size: 11px;
    position: fixed;
    bottom: 0;
    padding: 8px;
    /*width: 100%;*/
    width: 400px;

    max-height: 450px;
    display: block;

    /*additional remove to make a footer and uncomment comments above*/
    margin-left: 75%;
}

body>footer .footer-main {
    width: 100%;
    text-align: right;   
}

.red {
    color: #ff0000;
}

.container {
    width: 500px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}
#css .ng-dirty.ng-valid {
    border:1px solid Green;
}
</style>

<style type="text/css">
#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0 .5em 0 0;
}

#tabs a {
    position: relative;
    background: #ddd;
    /*background-image: linear-gradient(to bottom, #fff, #ddd);*/  
    padding: .7em 3.5em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: 5px 0 0 0;
    /*  box-shadow: 0 2px 2px rgba(0,0,0,.4);*/
}

/*#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
background: #fff;
z-index: 3;
color:black;
text-shadow: 0 1px 0 #fff;

}*/

#tabs a:focus {
    outline: 0;
}

#tabs a::after {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -.5em;  
    bottom: 0;
    width: 1em;
    background: #ddd;
    /*background-image: linear-gradient(to bottom, #fff, #ddd); */ 
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    transform: skew(10deg);
    border-radius: 0 5px 0 0;  
}

#tabs .current a,
#tabs .current a::after {
    background: #2196F3;
    z-index: 3;
    color:white;
    text-shadow: 0 1px 0 #2196F3;
    /*  background-image: linear-gradient(to bottom, #fff, #2196F3); */
}

#content {
    background: #fff;
    padding: 2em;
    height: 220px;
    position: relative;
    z-index: 2; 
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

.labelbck{
    background-color: #2196F3;border:2px solid #2196F3;height:30px;width:145px;padding:5px;padding-left:20px;font-weight:900;
    border-radius:3px 14px 0px 0px;color:#fff;

}
.skew{
    background-color: #2196F3;height:30px;width: 40px;margin-top:-26px;margin-left:105px;
    -webkit-transform: scale(1) skewX(50deg);
}

</style>
<script src="./ASSETS/js/main.js"></script>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft"> New Employee</h3>
                <p class="animated fadeInDown">
                    <a href="#/employees">HRIS</a> <span class="fa-angle-right fa"></span> 
                    New Employee
                </p>
            </div>
        </div>
    </div>

    <div>
        <form name="myForm">
            <ul id="tabs">
                <li ng-class="current.personal"><a name="tab1">Personal Information</a></li>
                <li ng-class="current.education"><a name="tab2">Educational Attainment</a></li>
                <li ng-class="current.company"><a name="tab3">Company Profile</a></li>
                <li ng-class="current.government"><a name="tab4">Government Mandated Benefits</a></li>    
            </ul>

            <div>
                <div ng-if="tab.personal">
                    <table style="width:70%;margin-left:10px;margin-top:30px;" >
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">First Name:</label> 
                            </td>
                            <td id="css">     
                                <input name="firstName" required ng-model="employees.first_name" ng-change="data_data.fname = employees.first_name" type="text" style="display: block; float: left; width:340px; height:36px;"  capitalize-first tabindex="1" />
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.firstName.$error.required">First Name is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left;">E-mail Address:</label>
                            </td>
                            <td id="css">
                                <input name="emailAddress" required ng-model="employees.email_address" ng-change="data.email = employees.email_address" type="email" style="display: block; float: left; width:340px;height:36px;" tabindex="2" /> <span style="color:red; display: block; float: left; width:340px; ;" ng-show="myForm.emailAddress.$error.required">E-mail Address is required.</span>

                                <span style="color:red; display: block; float: left; width:340px;" ng-show="myForm.emailAddress.$error.email">Please, write a valid E-mail Address address.</span>
                            </td>               
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Middle Name:</label>
                            </td>
                            <td id="css">
                                <input name="middleName" required ng-model="employees.middle_name" type="text" style="display: block; float: left; width:340px; height:36px;" capitalize-first tabindex="3"/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.middleName.$error.required">Middle Name is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Religion:</label>
                            </td>
                            <td id="css">
                                <input name="religion" required ng-model="employees.religion" type="text"  style="display: block; float: left; width:340px; height:36px;" capitalize-first tabindex="4"/>
                                <span style="color:red;display: block; float: left; width:400px;" ng-show="myForm.religion.$error.required">Religion is required.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Last Name:</label>
                            </td>
                            <td id="css">
                                <input name="lastName" required ng-model="employees.last_name" ng-change="data_data.lname1 = employees.last_name" type="text" style="display: block; float: left; width:340px; height:36px;" capitalize-first tabindex="5"/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.lastName.$error.required">Last Name is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Birth Date :</label>
                            </td>
                            <td id="css">
                                <input name="bdate" ng-model="employees.birth_date" type="date" style="display: block; float: left; width:340px; height:36px;" ng-required="true" tabindex="6"/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.bdate.$error.required">Birth Date is required.</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:-10px; padding-right:10px">Gender:</label>
                            </td>
                            <td id="css">
                                <select name="gender" tabindex="7" required ng-model="employees.gender" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.gender.$error.required">Gender is required.</span>
                            </td>  
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Civil Status:</label>
                            </td>
                            <td id="css">
                                <select name="cistatus" tabindex="8" required ng-model="employees.civilstatus" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Divorced">Divorced</option>
                                    <option value="Living Common Law">Living Common Law</option>
                                    <option value="Widowed">Widowed</option>
                                </select>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.cistatus.$error.required">Civil Status is required.</span>
                            </td> 
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Contact Number:</label> 
                            </td>
                            <td id="css">     
                                <input name="cnumber" tabindex="9" required ng-model="employees.contact_number"  type="text" style="display: block; float: left; width:340px; height:36px;" is-number placeholder="(Optional)" />
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Landline Number:</label> 
                            </td>
                            <td id="css">     
                                <input name="lnumber" tabindex="10" required ng-model="employees.landline_number"  type="text" style="display: block; float: left; width:340px; height:36px;"  is-number placeholder="(Optional)"/>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Present Address:</label> 
                            </td>
                            <td id="css">     
                                <input name="paddress" required ng-model="employees.present_address"  type="text" style="display: block; float: left; width:340px; height:36px;" tabindex="11" capitalize-first />
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.paddress.$error.required">Present address is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Permanent Address:</label> 
                            </td>
                            <td id="css">     
                                <input name="pladdress" tabindex="12" required ng-model="employees.permanent_address"  type="text" style="display: block; float: left; width:340px; height:36px;"  capitalize-first />
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.pladdress.$error.required">Permanent address is required.</span>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">In case of Emergency who to contact:</label> 
                            </td>
                            <td id="css">     
                                <input name="ename" tabindex="13" required ng-model="employees.emergency_name"  type="text" style="display: block; float: left; width:340px; height:36px;" placeholder="Contact Person Name" capitalize-first />
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.ename.$error.required">Contact person is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Contact number:</label> 
                            </td>
                            <td id="css">     
                                <input name="enumber" tabindex="14" required ng-model="employees.emergency_contact_number"  type="text" style="display: block; float: left; width:340px; height:36px;" placeholder="Contact Person Contact Number" is-number ng-pattern="/^\d{4}-\d{3}-\d{4}$/"/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.enumber.$error.required">Contact number is required.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Upload Profile Pic:</label>
                            </td>
                            <td colspan="2">
                                <div style="margin-top: 20px;">
                                    <span style="font-size:12px; color:#FF0000;">* Only jpg, png files are allowed.</span>
                                    <input type="file" tabindex="15" nv-file-select="" accept=".jpg,.png,.jpeg" uploader="uploader" />
                                    <br/>
                                </div>

                                <div>
                                    <div>
                                        <div>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img src="{{employees.profile_picture}}" style="width:200px;"/>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="width:200px; margin-left:10px;">
                                            <!-- Upload progress: -->
                                            <div class="progress" style="">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                            </div>
                                            <button type="button" tabindex="16" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                                <span class="glyphicon glyphicon-upload"></span> Upload
                                            </button>
                                            <button type="button" tabindex="17" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan = "4">
                                <center  style="font-size: 18px; font-style: bold;margin-top:20px;margin-left:-100px;">
                                    <input type="button" tabindex="18" ng-disabled="myForm.firstName.$error && myForm.firstName.$invalid
                                    || myForm.middleName.$error && myForm.middleName.$invalid
                                    || myForm.lastName.$error && myForm.lastName.$invalid
                                    || myForm.emailAddressAddressAddress.$pristine || myForm.emailAddressAddress.$dirty && myForm.emailAddress.$invalid
                                    || myForm.gender.$error && myForm.gender.$invalid
                                    || myForm.cistatus.$error && myForm.cistatus.$invalid
                                    || myForm.relgion.$error && myForm.religion.$invalid
                                    || myForm.p1address.$error && myForm.p1address.$invalid
                                    || myForm.paddress.$error && myForm.paddress.$invalid
                                    || myForm.enumber.$error && myForm.enumber.$invalid
                                    || myForm.ename.$error && myForm.ename.$invalid
                                    || myForm.bdate.$error && myForm.bdate.$invalid" class="large button green fa-fa" value="Next" ng-click="change_tab('education')" />
                                    <input type="reset" tabindex="19" class="large button green fa-fa" value="Clear" />
                                </center>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>


            <div ng-if="tab.education">
                <table style="width:70%;margin-left:20px;" ng-repeat="form in employees.education track by $index" ng-init="name = form.educ_level
                ">
                <tr>

                    <td><h4 style="margin-left:-34px;color:#219DEC;" ><div class ="labelbck">{{form.educ_level}}<div class="skew"></div></div></h4></td>

                </tr>
                <tr >
                    <td>
                        <label style="display:block; float:left; padding-top:10px; padding-right:10px">School Name:</label>

                    </td>
                    <td id="css">
                        <input name="snschool" required ng-model="form.school_name" type = "text"  style="display: block; float: left; width:350px;" />
                    </td>
                    <td>
                        <label style="display:block; float:left; padding-top:10px; padding-right:10px">Location:</label>
                    </td>
                    <td id="css">
                        <input name="slschool" required ng-model="form.school_location" type = "text" style="display: block; float: left; width:350px;
                        margin-right:50px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="display:block; float:left; padding-top:10px; padding-right:10px">From Date:</label>
                    </td>
                    <td id="css">
                        <input ng-model="form.date_from_school" type="date" id="datefrom" style="display: block; float: left; width:350px; height:36px;margin-right:50px;" />

                    </td>
                    <td>
                        <label style="display:block; float:left; padding-top:10px; padding-right:10px">To Date:</label>
                    </td>
                    <td id="css">
                        <input ng-model="form.date_to_school" type="date" id="datefrom" style="display: block; float: left; width:350px; height:36px;" />
                    </td>
                </tr>
            </table>

            <table style="width:33%;margin-left:140px;" >
                <tr>
                    <td >
                        <select name="school" required ng-model="employee.school_type" style="display: block; float: left; width:200px;padding:5px;margin-top:20px;" >
                            <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                            <option ng-repeat="v in stype" style="cursor:pointer;" value="{{v.pk}}">
                                {{v.sctype}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <button type="button" ng-click="addNewChoice()" class="large button green fa-fa" style="margin-top:20px;" >+ Add Education</button>
                    </td>
                </tr>
                <tr>
                    <td colspan = "4">
                        <center style="font-size: 18px; font-style: bold;margin-top:20px;">
                            <input type="button" class="large button green fa-fa" value="Back" ng-click="change_tab('personal')" />
                            <input type="button" class="large button green fa-fa" value="Next" ng-click="change_tab('company')" />
                            <input type="reset" class="large button green fa-fa" value="Clear" />
                        </center>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div ng-if="tab.company">

        <table style="width:70%;margin-left:20px;margin-top:30px" >
            <tr>
                <td> 
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Employee ID:</label>
                </td>
                <td id="css">
                    <input name="user" required ng-model="employees.employee_id" maxlength = "9"type = "text" is-number style="display: block; float: left; width:340px; height:38px;" />
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.user.$error.required">Employee I.D. is required.</span>
                </td>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px"> Business E-mail Address:</label>
                </td>
                <td id="css">
                    <input name="businessEmail" required ng-model="employees.business_email_address" type="email" style="display: block; float: left; width:340px;height:38px;"/>

                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.businessEmail.$error.required">Business E-mail Address is required.</span>

                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.businessEmail.$error.email">Please, write a valid Business E-mail Address address.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Position:</label>
                </td>
                <td id="css">
                    <select name="position" required ng-model="employees.titles_pk" style="display: block; float: left; width:340px;padding:5px;" >

                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option ng-repeat="(k, v) in titles.data" style="cursor:pointer;" value="{{v.pk}}">
                            {{v.title}}
                        </option>
                    </select>

                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.position.$error.required">Position is required.</span>
                </td>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Start Date:</label>

                </td>
                <td id="css">
                    <input name="inputd" ng-model="employees.date_started" type="date" style="display: block; float: left; width:340px; height:36px;" ng-required="true"/>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.inputd.$error.required">Start Date is required.</span>
                </tr>
                <tr>
                    <td>
                        <label style="display:block; float:left; padding-top:10px; padding-right:10px">Level:</label>
                    </td>
                    <td id="css">
                        <select name="level" required ng-model="employees.levels_pk" style="display: block; float: left; margin-right: 10px;width:340px;padding:5px;"  ng-change = "level_changed()" ng-class = "level_class">
                        -->
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option ng-repeat="(k, v) in level_title.data" style="cursor:pointer;" value="{{v.pk}}">
                            {{v.level_title}}
                        </option>
                    </select>
                    <input type="text" placeholder = 'no. of hours' ng-model ="employees.intern_hours" is-number maxlength = "3" size = "8" ng-show="show_hours" required/>   
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.level.$error.required">Level is required.</span>
                </td>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Supervisor:</label>
                </td>
                <td id="css">
                    <select name="supervisor" required ng-model="employees.supervisor_pk" style="display: block; float: left; width:340px;padding:5px;" >
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option ng-repeat="(k, v) in employees.supervisors" style="cursor:pointer;" value="{{v.pk}}">
                            {{v.name}}
                        </option>
                    </select>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.supervisor.$error.required">Supervisor is required.</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Department:</label>
                </td>
                <td id="css">
                    <select name="department" required ng-model="employees.departments_pk" style="display: block; float: left; width:340px;padding:5px;" >                         
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option ng-repeat="(k, v) in department.data" style="cursor:pointer;" value="{{v.pk}}">
                            {{v.department}}
                        </option>
                    </select>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.department.$error.required">Department is required.</span>
                </td> 
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Employee Status:</label>
                </td>
                <td id="css">
                    <select name="employeet" required ng-model="employees.employee_status" style="display: block; float: left; width:340px;padding:5px;" >
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>

                        <option value="Probationary">Probationary</option>
                        <option value="Trainee">Trainee</option>
                        <option value="Contractual">Contractual</option>
                        <option value="Regular">Regular</option>
                        <option value="Consultant">Consultant</option>
                    </select>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.employeet.$error.required">Employee status is required.</span>
                </td>

            </tr>  
            <tr>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Employment Type:</label>
                </td>
                <td id="css">
                    <select name="employmenttype" required ng-model="employees.employment_type" style="display: block; float: left; width:340px;padding:5px;" >
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option value="Exempt">Exempt</option>
                        <option value="Non-Exempt">Non-Exempt</option>
                    </select>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.employmenttype.$error.required">Employment type is required.</span>

                </td>   
                <tr>
                    <td>
                        <label style="display:block; float:left; padding-top:10px; padding-right:10px">Salary Type:</label>
                    </td>
                    <td>
                        <input type="radio" id="bank" name="salarys" ng-model="employees.salary_type" value="bank"> Bank</input>
                        <input type="radio" id="wire" name="salarys" ng-model="employees.salary_type" value="wire"> Wire Transfer</input>
                        <input type="radio" id="cash" name="salarys" ng-model="employees.salary_type" value="cash"> Cash</input>
                    </td>

                </tr>
            </tr>
            <tr ng-show="isShown('bank')">
                <td> 
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Bank Name:</label>
                </td>
                <td id="css">
                    <input name="bname" required ng-model="employees.bank_name" type = "text"  style="display: block; float: left; width:340px; height:38px;" />
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.bname.$error.required">Bank Name is required.</span>
                </td>
                <td> 
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Account Number:</label>
                </td>
                <td id="css">
                    <input name="aname" required ng-model="employees.account_number" type = "text" is-number style="display: block; float: left; width:340px; height:38px;" />
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.aname.$error.required">Account Number is required.</span>
                </td>
            </tr>
            <tr ng-show="isShown('bank')">
                <td> 
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Amount:</label>
                </td>
                <td id="css">
                    <input name="a_mount" required ng-model="employees.amount" type = "text" is-number style="display: block; float: left; width:340px; height:38px;" />
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.a_mount.$error.required">Amount is required.</span>
                </td>
                <td>
                    <label style="display:block; float:left; padding-top:-10px; padding-right:10px">Rate Type:</label>
                </td>
                <td id="css">
                    <select name="ratype" required ng-model="employees.rate_type" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option value="2">Daily</option>
                        <option value="3">Monthly</option>
                        <option value="1">Hourly</option>
                    </select>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.ratype.$error.required">Rate Type is required.</span>
                </td> 
            </tr>
            <tr ng-show="isShown('bank')">
                <td>
                    <label style="display:block; float:left; padding-top:-10px; padding-right:10px">Pay Period:</label>
                </td>
                <td id="css">
                    <select name="ptype" required ng-model="employees.pay_period" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Semi-Monthly</option>
                        <option value="4">Monthly</option>
                        <option value="5">Annually</option>
                    </select>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.ptype.$error.required">Pay Period is required.</span>
                </td> 
            </tr>
            <tr ng-show="isShown('wire')">
                <td> 
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Mode of Payment:</label>
                </td>
                <td id="css">
                    <input name="mpayment" required ng-model="employees.mode_payment" type = "text"  style="display: block; float: left; width:340px; height:38px;" />
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.mpayment.$error.required">Mode of payment is required.</span>
                </td>
                <td> 
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Account Number:</label>
                </td>
                <td id="css">
                    <input name="aname" required ng-model="employees.account_number" type = "text" is-number style="display: block; float: left; width:340px; height:38px;" />
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.aname.$error.required">Account Number is required.</span>
                </td>

            </tr>
            <tr ng-show="isShown('wire')">
                <td> 
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Amount:</label>
                </td>
                <td id="css">
                    <input name="a_mount" required ng-model="employees.amount" type = "text" is-number style="display: block; float: left; width:340px; height:38px;" />
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.a_mount.$error.required">Amount is required.</span>
                </td>

                <td>
                    <label style="display:block; float:left; padding-top:-10px; padding-right:10px">Rate Type:</label>
                </td>
                <td id="css">
                    <select name="ratype" required ng-model="employees.rate_type" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option value="2">Daily</option>
                        <option value="3">Monthly</option>
                        <option value="1">Hourly</option>
                    </select>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.ratype.$error.required">Rate Type is required.</span>
                </td> 
            </tr>
            <tr ng-show="isShown('wire')">
                <td>
                    <label style="display:block; float:left; padding-top:-10px; padding-right:10px">Pay Period:</label>
                </td>
                <td id="css">
                    <select name="ptype" required ng-model="employees.pay_period" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Semi-Monthly</option>
                        <option value="4">Monthly</option>
                        <option value="5">Annually</option>
                    </select>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.ptype.$error.required">Pay Period is required.</span>
                </td> 
            </tr>
            <tr ng-show="isShown('cash')">
                <td> 
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Amount:</label>
                </td>
                <td id="css">
                    <input name="a_mount" required ng-model="employees.amount" type = "text" is-number style="display: block; float: left; width:340px; height:38px;" />
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.a_mount.$error.required">Amount is required.</span>
                </td>

                <td>
                    <label style="display:block; float:left; padding-top:-10px; padding-right:10px">Rate Type:</label>
                </td>
                <td id="css">
                    <select name="ratype" required ng-model="employees.rate_type" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option value="2">Daily</option>
                        <option value="3">Monthly</option>
                        <option value="1">Hourly</option>
                    </select>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.ratype.$error.required">Rate Type is required.</span>
                </td>
            </tr>
            <tr ng-show="isShown('cash')">
                <td>
                    <label style="display:block; float:left; padding-top:-10px; padding-right:10px">Pay Period:</label>
                </td>
                <td id="css">
                    <select name="ptype" required ng-model="employees.pay_period" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                        <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Semi-Monthly</option>
                        <option value="4">Monthly</option>
                        <option value="5">Annually</option>
                    </select>
                    <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.ptype.$error.required">Pay Period is required.</span>
                </td> 
            </tr>
            <tr>
                <td style ="width:500px;color:#219DEC;border-bottom:2px solid #219DEC;height:40px;font-size:25px;">Work Schedule</td>

            </tr>
            <tr>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Sunday:</label>
                </td>
                <td>
                    <input  type="text" placeholder="Time-In" ng-model="employees.timein_sunday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>
                    <input  type="text" placeholder="Time-Out" ng-model="employees.timeout_sunday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px; width:170px;">Flexi Working Hours:</label>
                    <input  type="checkbox" ng-model="employees.flexi_sunday" style="display: block; float: left; width:20px; height:34px;"/>
                </td>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Monday:</label>
                </td>
                <td>
                    <input  type="text" placeholder="Time-In" ng-model="employees.timein_monday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>

                    <input  type="text" placeholder="Time-Out" ng-model="employees.timeout_monday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px; width:170px;">Flexi Working Hours:</label>
                    <input  type="checkbox" ng-model="employees.flexi_monday" style="display: block; float: left; width:20px; height:34px;"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Tuesday:</label>
                </td>
                <td>
                    <input  type="text" placeholder="Time-In" ng-model="employees.timein_tuesday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>

                    <input  type="text" placeholder="Time-Out"  ng-model="employees.timeout_tuesday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px; width:170px;">Flexi Working Hours:</label>
                    <input  type="checkbox" ng-model="employees.flexi_tuesday" style="display: block; float: left; width:20px; height:34px;"/>
                </td>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Wednesday:</label>
                </td>
                <td>
                    <input  type="text" placeholder="Time-In" ng-model="employees.timein_wednesday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>

                    <input  type="text" placeholder="Time-Out"  ng-model="employees.timeout_wednesday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px; width:170px;">Flexi Working Hours:</label>
                    <input  type="checkbox" ng-model="employees.flexi_wednesday" style="display: block; float: left; width:20px; height:34px;"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Thursday:</label>
                </td>
                <td>
                    <input  type="text" placeholder="Time-In" ng-model="employees.timein_thursday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>

                    <input  type="text" placeholder="Time-Out" ng-model="employees.timeout_thursday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px; width:170px;">Flexi Working Hours:</label>
                    <input  type="checkbox" ng-model="employees.flexi_thursday" style="display: block; float: left; width:20px; height:34px;"/>
                </td>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Friday:</label>
                </td>
                <td>
                    <input  type="text" placeholder="Time-In" ng-model="employees.timein_friday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>

                    <input  type="text" placeholder="Time-Out" ng-model="employees.timeout_friday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px; width:170px;">Flexi Working Hours:</label>
                    <input  type="checkbox" ng-model="employees.flexi_friday" style="display: block; float: left; width:20px; height:34px;"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Saturday:</label>
                </td>
                <td>
                    <input  type="text" placeholder="Time-In" ng-model="employees.timein_saturday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>  
                    <input  type="text" placeholder="Time-Out" ng-model="employees.timeout_saturday" style="display: block; float: left; width:100px; height:34px;" bs-timepicker/>
                    <label style="display:block; float:left; padding-top:10px; padding-right:10px; width:170px;">Flexi Working Hours:</label>
                    <input  type="checkbox" ng-model="employees.flexi_saturday" style="display: block; float: left; width:20px; height:34px;"/>
                </td>
            </tr>
            <tr>
                <td colspan = "4">
                    <center style="font-size: 18px; font-style: bold;margin-top:20px;">
                        <input type="button" class="large button green fa-fa" value="Back" ng-click="change_tab('education')" />
                        <input type="button" ng-disabled="myForm.user.$error && myForm.user.$invalid
                        || myForm.businessEmail.$pristine || myForm.businessEmail.$dirty && myForm.businessEmail.$invalid
                        || myForm.department.$error && myForm.department.$invalid
                        || myForm.position.$error && myForm.position.$invalid
                        || myForm.level.$error && myForm.level.$invalid
                        || myForm.employeet.$error && myForm.employeet.$invalid
                        || myForm.employmenttype.$error && myForm.employmenttype.$invalid
                        || myForm.inputd.$error && myForm.inputd.$invalid" class="large button green fa-fa" value="Next" ng-click="change_tab('government')" />
                        <input type="reset" class="large button green fa-fa" value="Clear" />
                    </center>
                </td>
            </tr>
        </table>
    </form>
</div>
<div ng-if="tab.government">
    <table style="width:77%;margin-left:20px;margin-top:30px">
        <tr>
            <td  id="css">
                <label style="display:block; float:left; padding-top:10px; padding-right:10px">PHIC:</label>
            </td>
            <td id="css">
                <input placeholder="(Optional)" id="phone" class="form-control" maxlength="14" ng-model="employees.data_phid" style="display: block; float: left; width:340px; height:36px;" />
            </td>
            <td>
                <label style="display:block; float:left; padding-top:10px; padding-right:10px">HDMF:</label>
            </td>
            <td id="css">
                <input placeholder="(Optional)" class="form-control" ng-model="employees.data_pagmid" maxlength="14" style="display: block; float: left; width:340px; height:36px;" />
            </td>
        </tr>
        <tr>
            <td id="css">
                <label  style="display:block; float:left; padding-top:10px; padding-right:10px">TIN:</label>

            </td>
            <td id="css">
                <input placeholder="(Optional)" class="form-control" name="tin" ng-model="employees.data_tin" maxlength="15" style="display: block; float: left; width:340px; height:36px;" />

            </td>
            <td  id="css">
                <label style="display:block; float:left; padding-top:10px; padding-right:10px">SSS:</label>
            </td>
            <td id="css">
                <input placeholder="(Optional)" class="form-control" maxlength="12" ng-model="employees.data_sss" style="display: block; float: left; width:340px; height:36px;" />
            </td>
        </tr>
        <tr>
            <td colspan = "4">
                <center style="font-size: 18px; font-style: bold;margin-top:20px;">
                    <input type="button" class="large button green fa-fa" value="Back" ng-click="change_tab('company')" />
                    <input type="submit" class="large button green fa-fa" value="Submit" ng-click="submit_employees()" />
                    <input type="reset" class="large button green fa-fa" value="Clear" />

                </center>
            </td>
        </tr>
    </table>
</div>
</form>
</div>
</div>
</div>
</div>

