<style type="text/css">
#submit {
    color: #2196f3 !important;
}

#submit:hover{
    background-color: #e7e7e7;
}

body>footer {
    /*background-color: #eee;*/
    font-size: 11px;
    position: fixed;
    bottom: 0;
    padding: 8px;
    /*width: 100%;*/
    width: 400px;

    max-height: 450px;
    display: block;

    /*additional remove to make a footer and uncomment comments above*/
    margin-left: 75%;
}

body>footer .footer-main {
    width: 100%;
    text-align: right;   
}

.red {
    color: #ff0000;
}

.container {
    width: 500px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}
#css .ng-dirty.ng-valid {
    border:1px solid Green;
}
</style>

<style type="text/css">
#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0 .5em 0 0;
}

#tabs a {
    position: relative;
    background: #ddd;
    /*background-image: linear-gradient(to bottom, #fff, #ddd);*/  
    padding: .7em 3.5em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: 5px 0 0 0;
    /*  box-shadow: 0 2px 2px rgba(0,0,0,.4);*/
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
    background: #fff;
    z-index: 3;
    color:black;
    text-shadow: 0 1px 0 #fff;

}

#tabs a:focus {
    outline: 0;
}

#tabs a::after {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -.5em;  
    bottom: 0;
    width: 1em;
    background: #ddd;
    /*background-image: linear-gradient(to bottom, #fff, #ddd); */ 
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    transform: skew(10deg);
    border-radius: 0 5px 0 0;  
}

#tabs .current a,
#tabs .current a::after {
    background: #2196F3;
    z-index: 3;
    color:white;
    text-shadow: 0 1px 0 #2196F3;
    /*  background-image: linear-gradient(to bottom, #fff, #2196F3); */
}

#content {
    background: #fff;
    padding: 2em;
    height: 220px;
    position: relative;
    z-index: 2; 
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}
</style>
<script src="./ASSETS/js/main.js"></script>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft"> New Employee</h3>
                <p class="animated fadeInDown">
                    <a href="#/employees">Employees</a> <span class="fa-angle-right fa"></span> 
                    New Employee
                </p>
            </div>
        </div>
    </div>

    <div>
        <ul id="tabs">
            <li ng-class="current.personal"><a ng-click="change_tab('personal')" name="tab1">Personal Information</a></li>
            <li ng-class="current.education"><a ng-click="change_tab('education')" name="tab2">Educational Attainment</a></li>
            <li ng-class="current.company"><a ng-click="change_tab('company')" name="tab3">Company Profile</a></li>
            <li ng-class="current.government"><a ng-click="change_tab('government')" name="tab4">Government Mandated Benefits</a></li>    
        </ul>

        <div>
            <div ng-if="tab.personal">
                <form name="myForm">

                    <table style="width:70%;margin-left:140px;margin-top:30px;" >
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">First Name:</label> 
                            </td>
                            <td id="css">     
                                <input name="firstName" required ng-model="employees.first_name" ng-change="data_data.fname = employees.first_name" type="text" style="display: block; float: left; width:340px; height:36px;"  capitalize-first />
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.firstName.$error.required">First Name is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left;">E-mail Address:</label>
                            </td>
                            <td id="css">
                                <input name="emailAddress" required ng-model="employees.email_address" ng-change="data.email = employees.email_address" type="email" style="display: block; float: left; width:340px;height:36px;" /> <span style="color:red; display: block; float: left; width:340px; ;" ng-show="myForm.emailAddress.$error.required">E-mail Address is required.</span>

                                <span style="color:red; display: block; float: left; width:340px;" ng-show="myForm.emailAddress.$error.email">Please, write a valid E-mail Address address.</span>
                            </td>               
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Middle Name:</label>
                            </td>
                            <td id="css">
                                <input name="middleName" required ng-model="employees.middle_name" type="text" style="display: block; float: left; width:340px; height:36px;" capitalize-first/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.middleName.$error.required">Middle Name is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Religion:</label>
                            </td>
                            <td id="css">
                                <input name="religion" required ng-model="employees.religion" type="text"  style="display: block; float: left; width:340px; height:36px;" capitalize-first/>
                                <span style="color:red;display: block; float: left; width:400px;" ng-show="myForm.religion.$error.required">Religion is required.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-right:10px">Last Name:</label>
                            </td>
                            <td id="css">
                                <input name="lastName" required ng-model="employees.last_name" ng-change="data_data.lname1 = employees.last_name" type="text" style="display: block; float: left; width:340px; height:36px;" capitalize-first/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.lastName.$error.required">Last Name is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Birth Date :</label>
                            </td>
                            <td id="css">
                                <input name="inputd" ng-model="employees.birth_date" type="date" style="display: block; float: left; width:340px; height:36px;" ng-required="true"/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.inputd.$error.required">Birth Date is required.</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:-10px; padding-right:10px">Gender:</label>
                            </td>
                            <td id="css">
                                <select name="gender" required ng-model="employees.gender" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="v in genders" style="cursor:pointer;" value="{{v.gender}}">
                                        {{v.gender}}
                                    </option>
                                </select>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.gender.$error.required">Gender is required.</span>
                            </td>  
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Civil Status:</label>
                            </td>
                            <td id="css">
                                <select name="cistatus" required ng-model="employees.civilstatus" style="display: block; float: left; width:340px;padding:5px; height:36px;" >
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="v in civils" style="cursor:pointer;" value="{{v.civilstatus}}">
                                        {{v.civilstatus}}
                                    </option>
                                </select>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.cistatus.$error.required">Civil Status is required.</span>
                            </td> 
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Upload Profile Picture:</label>
                            </td>
                            <td><input type="file" ng-file-select ng-model="file" accept=".xls" name="inputFile" id="inputFile" required/>
                            </tr>
                            <tr>
                                <td colspan = "4">
                                    <center style="font-size: 18px; font-style: bold;margin-top:20px;">
                                        <input type="button" ng-disabled="myForm.firstName.$error && myForm.firstName.$invalid
                                        || myForm.middleName.$error && myForm.middleName.$invalid
                                        || myForm.lastName.$error && myForm.lastName.$invalid
                                        || myForm.emailAddressAddressAddress.$pristine || myForm.emailAddressAddress.$dirty && myForm.emailAddress.$invalid
                                        || myForm.gender.$error && myForm.gender.$invalid
                                        || myForm.relgion.$error && myForm.religion.$invalid" class="large button green fa-fa" value="Next" ng-click="change_tab('education')" />
                                        <input type="reset" class="large button green fa-fa" value="Clear" />
                                    </center>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <form name="myForm1">
                    <div ng-if="tab.education">
                        <table style="width:70%;margin-left:140px;" ng-repeat="form in employees.education track by $index" ng-init="name = form.educ_level
                        ">
                        <tr>
                            <td><h4 style="margin-left:-45px;color:#219DEC;" >{{form.educ_level}}</h4></td>
                        </tr>
                        <tr >
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">School Name:</label>

                            </td>
                            <td id="css">
                                <input name="snschool" required ng-model="form.school_name" type = "text"  style="display: block; float: left; width:350px;" />
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Location:</label>
                            </td>
                            <td id="css">
                                <input name="slschool" required ng-model="form.school_location" type = "text" style="display: block; float: left; width:350px;
                                margin-right:50px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">From Date:</label>
                            </td>
                            <td id="css">
                                <input ng-model="form.date_from_school" type="date" id="datefrom" style="display: block; float: left; width:350px; height:36px;margin-right:50px;" />

                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">To Date:</label>
                            </td>
                            <td id="css">
                                <input ng-model="form.date_to_school" type="date" id="datefrom" style="display: block; float: left; width:350px; height:36px;" />
                            </td>
                        </tr>
                    </table>
                    <table id="divID"></table>
                    <table style="width:33%;margin-left:140px;" >
                        <tr>
                            <td >
                                <select name="school" required ng-model="employee.school_type" style="display: block; float: left; width:200px;padding:5px;margin-top:20px;" >
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="v in stype" style="cursor:pointer;" value="{{v.pk}}">
                                        {{v.sctype}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="button" ng-click="addNewChoice()" class="large button green fa-fa" style="margin-top:20px;" >+ Add Education</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan = "4">
                                <center style="font-size: 18px; font-style: bold;margin-top:20px;">
                                    <input type="button" class="large button green fa-fa" value="Next" ng-click="change_tab('company')" />
                                    <input type="reset" class="large button green fa-fa" value="Clear" />
                                </center>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div ng-if="tab.company">
                <form name="myForm2">
                    <table style="width:70%;margin-left:140px;margin-top:30px" >
                        <tr>
                            <td> 
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Employee ID:</label>
                            </td>
                            <td id="css">
                                <input name="user" required ng-model="employees.employee_id" maxlength = "9"type = "text" is-number style="display: block; float: left; width:340px; height:38px;" />
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm2.user.$error.required">Employee I.D. is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px"> Business E-mail Address:</label>
                            </td>
                            <td id="css">
                                <input name="businessEmail" required ng-model="employees.business_email_address" type="email" style="display: block; float: left; width:340px;height:38px;" />

                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm2.businessEmail.$error.required">Business E-mail Address is required.</span>

                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm2.businessEmail.$error.email">Please, write a valid Business E-mail Address address.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Position:</label>
                            </td>
                            <td id="css">
                                <select name="position" required ng-model="employees.titles_pk" style="display: block; float: left; width:340px;padding:5px;" >

                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="(k, v) in titles.data" style="cursor:pointer;" value="{{v.pk}}">
                                        {{v.title}}
                                    </option>
                                </select>

                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm2.position.$error.required">Position is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Start Date:</label>

                            </td>
                            <td id="css">
                                <input name="inputd" ng-model="employees.date_started" type="date" style="display: block; float: left; width:340px; height:36px;" ng-required="true"/>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm2.inputd.$error.required">Start Date is required.</span>
                            </tr>
                            <tr>
                                <td>
                                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Level:</label>
                                </td>
                                <td id="css">
                                    <select name="level" required ng-model="employees.levels_pk" style="display: block; float: left; margin-right: 10px;width:340px;padding:5px;"  ng-change = "level_changed()" ng-class = "level_class">
                                    -->
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="(k, v) in level_title.data" style="cursor:pointer;" value="{{v.pk}}">
                                        {{v.level_title}}
                                    </option>
                                </select>
                                <input type="text" placeholder = 'no. of hours' ng-model ="employees.intern_hours" is-number maxlength = "3" size = "8" ng-show="show_hours" required/>   
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm2.level.$error.required">Level is required.</span>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Supervisor:</label>
                            </td>
                            <td id="css">
                                <select name="supervisor" required ng-model="employees.supervisor_pk" style="display: block; float: left; width:340px;padding:5px;" >
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="(k, v) in employees.supervisors" style="cursor:pointer;" value="{{v.pk}}">
                                        {{v.name}}
                                    </option>
                                </select>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm2.supervisor.$error.required">Supervisor is required.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Department:</label>
                            </td>
                            <td id="css">
                                <select name="department" required ng-model="employees.departments_pk" style="display: block; float: left; width:340px;padding:5px;" >                         
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="(k, v) in department.data" style="cursor:pointer;" value="{{v.pk}}">
                                        {{v.department}}
                                    </option>
                                </select>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm2.department.$error.required">Department is required.</span>
                            </td> 
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Employee Type:</label>
                            </td>
                            <td id="css">
                                <select name="employeet" required ng-model="employees.employee_type" style="display: block; float: left; width:340px;padding:5px;" >
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="v in estatus" style="cursor:pointer;" value="{{v.emstatus}}">
                                        {{v.emstatus}}
                                    </option>
                                </select>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm2.employeet.$error.required">Employee Type is Required.</span>
                            </td>

                        </tr>  
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Employment Type:</label>
                            </td>
                            <td id="css">
                                <select name="employmenttype" required ng-model="employees.employment_type" style="display: block; float: left; width:340px;padding:5px;" >
                                    <option value="" disabled selected style="display:none"> -- Select from the options -- </option>
                                    <option ng-repeat="v in etype" style="cursor:pointer;" value="{{v.emtype}}">
                                        {{v.emtype}}
                                    </option>
                                </select>
                                <span style="color:red;display: block; float: left; width:340px;" ng-show="myForm2.employmenttype.$error.required">Employment Type is required.</span>

                            </td>   
                            <tr>
                                <td>
                                    <label style="display:block; float:left; padding-top:10px; padding-right:10px">Salary Type:</label>
                                </td>
                                <td>
                                    <input type="radio" id="bank" name="salarys" ng-model="employees.salary_type" value="bank"> Bank</input>
                                    <input type="radio" id="wire" name="salarys" ng-model="employees.salary_type" value="wire"> Wire Transfer</input>
                                    <input type="radio" id="cash" name="salarys" ng-model="employees.salary_type" value="cash"> Cash</input>
                                </td>
                            </tr>
                        </tr>
                        <tr ng-show="isShown('bank')">
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Bank Name:</label>
                            </td>
                            <td id="css" >
                                <input type="text" ng-model="employees.bank_name" is-number style="display: block; float: left; width:340px; height:36px;"/>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Account Number:</label>
                            </td>
                            <td id="css" >
                                <input  type="text"  ng-model="employees.account_number" is-number style="display: block; float: left; width:340px; height:36px;"/>
                            </td>
                        </tr>
                        <tr ng-show="isShown('bank')">
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Amount:</label>
                            </td>
                            <td id="css" >
                                <input  type="text" ng-model="employees.amount" is-number style="display: block; float: left; width:340px; height:36px;"/>
                            </td>
                        </tr>
                        <tr ng-show="isShown('wire')">
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Mode of Payment:</label>
                            </td>
                            <td id="css" >
                                <input type="text" ng-model="employees.mode_payment" style="display: block; float: left; width:340px; height:36px;"/>
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Account Number:</label>
                            </td>
                            <td id="css" >
                                <input  type="text" ng-model="employees.account_number" is-number style="display: block; float: left; width:340px; height:36px;"/>
                            </td>

                        </tr>
                        <tr ng-show="isShown('wire')">
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Amount:</label>
                            </td>
                            <td id="css" >
                                <input  type="text" ng-model="employees.amount" is-number style="display: block; float: left; width:340px; height:36px;"/>
                            </td>
                        </tr>
                        <tr ng-show="isShown('cash')">
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Amount:</label>
                            </td>
                            <td id="css">
                                <input  type="text" ng-model="employees.amount" is-number style="display: block; float: left; width:340px; height:34px;"/>
                            </td>
                        </tr>
                        <tr>
                            <td style ="width:500px;color:#219DEC;border-bottom:2px solid #219DEC;height:40px;font-size:25px;">Work Schedule</td>
                        
                    </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Sunday:</label>
                            </td>
                            <td>
                                <input  type="text"  ng-model="employees.timein_sunday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>{{employees.timein_sunday}}
                                 
                                <input  type="text"  ng-model="employees.timeout_sunday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                            </td>
                             <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Monday:</label>
                            </td>
                            <td>
                                <input  type="text"  ng-model="employees.timein_monday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                                 
                                <input  type="text"  ng-model="employees.timeout_monday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Tuesday:</label>
                            </td>
                            <td>
                                <input  type="text"  ng-model="employees.timein_tuesday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                                 
                                <input  type="text"  ng-model="employees.timeout_tuesday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                            </td>
                             <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Wednesday:</label>
                            </td>
                            <td>
                                <input  type="text"  ng-model="employees.timein_wednesday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                                 
                                <input  type="text"  ng-model="employees.timeout_wednesday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Thursday:</label>
                            </td>
                            <td>
                                <input  type="text"  ng-model="employees.timein_thursday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                                 
                                <input  type="text"  ng-model="employees.timeout_thursday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                            </td>
                             <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Friday:</label>
                            </td>
                            <td>
                                <input  type="text"  ng-model="employees.timein_friday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                                 
                                <input  type="text"  ng-model="employees.timeout_friday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">Saturday:</label>
                            </td>
                            <td>
                                <input  type="text"  ng-model="employees.timein_saturday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                                 
                                <input  type="text"  ng-model="employees.timeout_saturday" style="display: block; float: left; width:200px; height:34px;" bs-timepicker/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan = "4">
                                <center style="font-size: 18px; font-style: bold;margin-top:20px;">
                                    <input type="button" ng-disabled="myForm.user.$error && myForm.user.$invalid
                                    || myForm2.businessEmail.$pristine || myForm2.businessEmail.$dirty && myForm2.businessEmail.$invalid
                                    || myForm2.department.$error && myForm2.department.$invalid
                                    || myForm2.position.$error && myForm2.position.$invalid
                                    || myForm2.level.$error && myForm2.level.$invalid" class="large button green fa-fa" value="Next" ng-click="change_tab('government')" />
                                    <input type="reset" class="large button green fa-fa" value="Clear" />

                                </center>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div ng-if="tab.government">
                <form name="myForm3">
                    <table style="width:77%;margin-left:140px;margin-top:30px">
                        <tr>
                            <td  id="css">
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">PHIC:</label>
                            </td>
                            <td id="css">
                                <input placeholder="(Optional)" id="phone" class="form-control" maxlength="14" ng-model="employees.data_phid" style="display: block; float: left; width:340px; height:36px;" />
                            </td>
                            <td>
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">HDMF:</label>
                            </td>
                            <td id="css">
                                <input placeholder="(Optional)" class="form-control" ng-model="employees.data_pagmid" maxlength="14" style="display: block; float: left; width:340px; height:36px;" />
                            </td>
                        </tr>
                        <tr>
                            <td id="css">
                                <label  style="display:block; float:left; padding-top:10px; padding-right:10px">TIN:</label>

                            </td>
                            <td id="css">
                                <input placeholder="(Optional)" class="form-control" name="tin" ng-model="employees.data_tin" maxlength="15" style="display: block; float: left; width:340px; height:36px;" />

                            </td>
                            <td  id="css">
                                <label style="display:block; float:left; padding-top:10px; padding-right:10px">SSS:</label>
                            </td>
                            <td id="css">
                                <input placeholder="(Optional)" class="form-control" maxlength="12" ng-model="employees.data_sss" style="display: block; float: left; width:340px; height:36px;" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan = "4">
                                <center style="font-size: 18px; font-style: bold;margin-top:20px;">
                                    <input type="submit" class="large button green fa-fa" value="Submit" ng-click="submit_employees()" />
                                    <input type="reset" class="large button green fa-fa" value="Clear" />

                                </center>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
<form name="myForm">
<div style ="width:100%px;color:#219DEC;border-bottom:2px solid #219DEC;height:40px;text-align:center;font-size:25px;padding-bottom:20px;margin-bottom:30px;margin-top:40px;">PERSONAL INFORMATION
</div>
<table style="width:85%;margin-left:140px;" >

<tr>
<td>
<label style="display:block; float:left; padding-right:10px">First Name:</label> 
</td>
<td id="css">    
<input name="firstName"required ng-model="employees.first_name" ng-change="fname1=employees.first_name" type="text" style="display: block; float: left; width:340px;" />
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.firstName.$error.required">First Name is required.</span>
</td>
<td>
<label style="display:block; float:left;">E-mail Address:</label>
</td>
<td id="css">
<input name="emailAddress" required ng-model="employees.email_address" type="email" style="display: block; float: left; width:340px;height:36px;" /> <span style="color:red; display: block; float: left; width:340px; ;" ng-show="myForm.emailAddress.$error.required">E-mail Address is required.</span>

<span style="color:red; display: block; float: left; width:340px;" ng-show="myForm.emailAddress.$error.email">Please, write a valid E-mail Address address.</span>
</td>               
</tr>
<tr>
<td>
<label style="display:block; float:left; padding-right:10px">Middle Name:</label>
</td>
<td id="css">
<input name="middleName" required ng-model="employees.middle_name" type="text" style="display: block; float: left; width:340px;" />
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.middleName.$error.required">Middle Name is required.</span>
</td>
<td>
<label style="display:block; float:left; padding-right:10px">Religion:</label>
</td>
<td id="css">
<input name="religion" required ng-model="employees.religion_pk" type="text" style="display: block; float: left; width:340px;" />
<span style="color:red;display: block; float: left; width:400px;" ng-show="myForm.religion.$error.required">Religion is required.</span>
</td>
</tr>
<tr>
<td>
<label style="display:block; float:left; padding-right:10px">Last Name:</label>
</td>
<td id="css">
<input name="lastName" required ng-model="employees.last_name" ng-change="lname1=employees.last_name" type="text" style="display: block; float: left; width:340px;" />
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.lastName.$error.required">Last Name is required.</span>
</td>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Birthdate :</label>
</td>
<td id="css">
<input name="data" ng-model="employees.bday" type="date" style="display: block; float: left; width:340px; height:36px;" />
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.inputd.$error.date">Date of Birth is required.</span>
</td>
</tr>

<tr>
<td>
<label style="display:block; float:left; padding-top:-10px; padding-right:10px">Gender:</label>
</td>
<td id="css">
<select name="gender" required ng-model="employees.gender_pk" style="display: block; float: left; width:340px;padding:5px;" >
<option value="" disabled selected style="display:none"> -- Select from the options -- </option>
<option ng-repeat="v in genders" style="cursor:pointer;" value="{{v.gender}}">
{{v.gender}}
</option>
</select>
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.gender.$error.required">Gender is required.</span>
</td>  
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Civil Status:</label>
</td>
<td id="css">
<select name="cistatus" required ng-model="employees.civilstatus_pk" style="display: block; float: left; width:340px;padding:5px;" >
<option value="" disabled selected style="display:none"> -- Select from the options -- </option>
<option ng-repeat="v in civils" style="cursor:pointer;" value="{{v.civilstatus}}">
{{v.civilstatus}}
</option>
</select>
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.cistatus.$error.required">Civil Status is required.</span>
</td> 
</tr>

</table>
<div style ="width:100%px;color:#219DEC;border-bottom:2px solid #219DEC;height:40px;text-align:center;font-size:25px;padding-bottom:20px;margin-bottom:30px;margin-top:30px;">EDUCATIONAL ATTAINMENT
</div>
<table style="width:70%;margin-left:140px;" ng-repeat="form in employees.forms" ng-init="name = form.educ_level
">
<tr >
<td><h4 style="margin-left:-45px;color:#219DEC;" >{{form.educ_level}}</h4></td>
</tr>
<tr >
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">School Name:</label>

</td>
<td id="css">
<input name="snschool" required ng-model="form.school_name" type = "text"  style="display: block; float: left; width:350px;" />
</td>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Location:</label>
</td>
<td id="css">
<input name="slschool" required ng-model="form.school_location" type = "text" style="display: block; float: left; width:350px;
margin-right:50px;" />
</td>
</tr>
<tr>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">From Date:</label>
</td>
<td id="css">
<input ng-model="employees.date_from_school" type="date" id="datefrom" style="display: block; float: left; width:350px; height:36px;margin-right:50px;" />

</td>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">To Date:</label>
</td>
<td id="css">
<input ng-model="employees.date_to_school" type="date" id="datefrom" style="display: block; float: left; width:350px; height:36px;" />
</td>
</tr>
</table>
<table style="width:33%;margin-left:140px;" >
<tr>
<td >
<select name="school" required ng-model="employees.school_type" style="display: block; float: left; width:200px;padding:5px;margin-top:20px;" >
<option value="" disabled selected style="display:none"> -- Select from the options -- </option>
<option ng-repeat="v in stype" style="cursor:pointer;" value="{{v.pk}}">
{{v.sctype}}
</option>
</select>
</td>
<td>
<button type="button" ng-click="addNewChoice()" class="large button green fa-fa" style="margin-top:20px;" >+ Add Education</button>

</td>
</tr>
</table>
<div style ="width:100%px;color:#219DEC;border-bottom:2px solid #219DEC;height:40px;text-align:center;font-size:25px;padding-bottom:20px;margin-bottom:30px;margin-top:30px;">COMPANY PROFILE
</div>
<table style="width:70%;margin-left:140px;" >

<tr>
<td> 
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Employee ID:</label>
</td>
<td id="css">
<input name="user" required ng-model="employees.employee_id" maxlength = "9"type = "text" is-number style="display: block; float: left; width:340px;" />
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.user.$error.required">Employee I.D. is required.</span>
</td>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px"> Business E-mail Address:</label>
</td>
<td id="css">
<input name="businessEmail" required ng-model="employees.business_email_address" type="email" style="display: block; float: left; width:340px;height:38px;" />

<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.businessEmail.$error.required">Business E-mail Address is required.</span>

<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.businessEmail.$error.email">Please, write a valid Business E-mail Address address.</span>
</td>
</tr>
<tr>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Position:</label>
</td>
<td id="css">
<select name="position" required ng-model="employees.titles_pk" style="display: block; float: left; width:340px;padding:5px;" >

<option value="" disabled selected style="display:none"> -- Select from the options -- </option>
<option ng-repeat="(k, v) in titles.data" style="cursor:pointer;" value="{{v.pk}}">
{{v.title}}
</option>
</select>

<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.position.$error.required">Position is required.</span>
</td>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Start Date:</label>

</td>
<td id="css">
<input type="date" id="dateto" name="input" ng-model="employees.date_started"
placeholder="yyyy-MM-dd" min="2012-01-01" max="2013-12-31" style="display: block; float: left; width:340px;padding:5px;" required />

</td>
</tr>
<tr>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Level:</label>
</td>
<td id="css">
<select name="level" required ng-model="employees.levels_pk" style="display: block; float: left; margin-right: 10px;width:340px;padding:5px;"  ng-change = "level_changed()" ng-class = "level_class">

<option value="" disabled selected style="display:none"> -- Select from the options -- </option>
<option ng-repeat="(k, v) in level_title.data" style="cursor:pointer;" value="{{v.pk}}">
{{v.level_title}}
</option>
</select>
<input type="text" placeholder = 'no. of hours' ng-model = 'employees.intern_hours' is-number maxlength = "3" size = "8" ng-show="show_hours" required/>   
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.level.$error.required">Level is required.</span>
</td>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Supervisor:</label>
</td>
<td id="css">
<select name="supervisor" required ng-model="employees.supervisor_pk" style="display: block; float: left; width:340px;padding:5px;" >
<option value="" disabled selected style="display:none"> -- Select from the options -- </option>
<option ng-repeat="(k, v) in employees.supervisors" style="cursor:pointer;" value="{{v.pk}}">
{{v.name}}
</option>
</select>
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.supervisor.$error.required">Supervisor is required.</span>
</td>
</tr>
<tr>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Department:</label>
</td>
<td id="css">
<select name="department" required ng-model="employees.departments_pk" style="display: block; float: left; width:340px;padding:5px;" >                         
<option value="" disabled selected style="display:none"> -- Select from the options -- </option>
<option ng-repeat="(k, v) in department.data" style="cursor:pointer;" value="{{v.pk}}">
{{v.department}}
</option>
</select>
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.department.$error.required">Department is required.</span>
</td> 
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Employee Type:</label>
</td>
<td id="css">
<select name="employeet" required ng-model="employees.employee_type" style="display: block; float: left; width:340px;padding:5px;" >
<option value="" disabled selected style="display:none"> -- Select from the options -- </option>
<option ng-repeat="v in estatus" style="cursor:pointer;" value="{{v.pk}}">
{{v.emstatus}}
</option>
</select>
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.employeet.$error.required">Employee Type is Required.</span>
</td>

</tr>  
<tr>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Employment Type:</label>
</td>
<td id="css">
<select name="employmenttype" required ng-model="employees.employment_type" style="display: block; float: left; width:340px;padding:5px;" >
<option value="" disabled selected style="display:none"> -- Select from the options -- </option>
<option ng-repeat="v in etype" style="cursor:pointer;" value="{{v.pk}}">
{{v.emtype}}
</option>
</select>
<span style="color:red;display: block; float: left; width:340px;" ng-show="myForm.employmenttype.$error.required">Employment Type is required.</span>

</td>   
<tr>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Salary Type:</label>
</td>
<td>
<input type="checkbox"  id="salarys" name="salarys" ng-model="model.salary"> Bank</input>
<input type="checkbox" id="salarys1" name="salarys1" ng-model="model.salary1"> Wire Transfer</input>
<input type="checkbox" id="salarys2" name="salarys2" ng-model="model.salary2"> Cash</input>
</td>
</tr>
</tr>
<tr ng-show="model.salary">
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Bank Name:</label>
</td>
<td id="css" >
<input type="text"  is-number style="display: block; float: left; width:340px; height:36px;"/>
</td>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Account Number:</label>
</td>
<td id="css" >
<input  type="text"  is-number style="display: block; float: left; width:340px; height:36px;"/>
</td>

</tr>
<tr ng-show="model.salary">
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Amount:</label>
</td>
<td id="css" >
<input  type="text"  is-number style="display: block; float: left; width:340px; height:36px;"/>
</td>
</tr>
<tr ng-show="model.salary1">
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Mode of Payment:</label>
</td>
<td id="css" >
<input type="text"  is-number style="display: block; float: left; width:340px; height:36px;"/>
</td>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Account Number:</label>
</td>
<td id="css" >
<input  type="text"  is-number style="display: block; float: left; width:340px; height:36px;"/>
</td>

</tr>
<tr ng-show="model.salary1">
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Amount:</label>
</td>
<td id="css" >
<input  type="text"  is-number style="display: block; float: left; width:340px; height:36px;"/>
</td>
</tr>
<tr ng-show="model.salary2">
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Amount:</label>
</td>
<td id="css">
<input  type="text"  is-number style="display: block; float: left; width:340px; height:36px;"/>
</td>
</tr>
</table>
<div style ="width:100%px;color:#219DEC;border-bottom:2px solid #219DEC;height:40px;text-align:center;font-size:25px;padding-bottom:20px;margin-bottom:30px;margin-top:30px;">GOVERNMENT DETAILS</div>
<table style="width:77%;margin-left:140px;">

<td  id="css">
<label style="display:block; float:left; padding-top:10px; padding-right:10px">Philhealth No:</label>
</td>
<td id="css">
<input placeholder="(Optional)" class="phid form-control" maxlength="14" ng-model="employees.data_phid" style="display: block; float: left; width:340px; height:36px;"/>
</td>
<td>
<label style="display:block; float:left; padding-top:10px; padding-right:10px">PagIbig MID No:</label>
</td>
<td id="css">
<input placeholder="(Optional)" class="pagmid form-control" ng-model="employees.data_pagmid" maxlength="14" style="display: block; float: left; width:340px; height:36px;"/>
</td>
</tr>
<tr>
<td id="css">
<label  style="display:block; float:left; padding-top:10px; padding-right:10px">TIN ID No:</label>

</td>
<td id="css">
<input placeholder="(Optional)" class="tin form-control" name="tin" ng-model="employees.data_tin" maxlength="15" style="display: block; float: left; width:340px; height:36px;"/>

</td>
<td  id="css">
<label style="display:block; float:left; padding-top:10px; padding-right:10px">SSS No:</label>
</td>
<td id="css">
<input placeholder="(Optional)" class="tin form-control" maxlength="15" ng-model="employees.data_sss" style="display: block; float: left; width:340px; height:36px;"/>
</td>
</tr>
<td colspan = "4">
<center style="font-size: 18px; font-style: bold;margin-top:20px;">
<input type="submit" ng-disabled="myForm.user.$error && myForm.user.$invalid
|| myForm.firstName.$error && myForm.firstName.$invalid
|| myForm.middleName.$error && myForm.middleName.$invalid
|| myForm.lastName.$error && myForm.lastName.$invalid
|| myForm.emailAddressAddressAddress.$pristine || myForm.emailAddressAddress.$dirty && myForm.emailAddress.$invalid
|| myForm.businessEmail.$pristine || myForm.businessEmail.$dirty && myForm.businessEmail.$invalid
|| myForm.department.$error && myForm.department.$invalid
|| myForm.position.$error && myForm.position.$invalid
|| myForm.level.$error && myForm.level.$invalid
|| myForm.gender.$error && myForm.gender.$invalid
|| myForm.relgion.$error && myForm.religion.$invalid" class="large button green fa-fa" value="Submit" ng-click="submit_employee()" />
<input type="reset" class="large button green fa-fa" value="Clear" />

</center>
</td>
</tr>
</table>
</form>-->