<style type="text/css">
.red {
    color: #ff0000;
}
.table1{
    width: 98.5%; 
    margin:0 auto;
    background-color:white;
    font-size:12px;
    margin-top:3px;
    table-layout:fixed;
}
th, td {
    text-align: left;
    padding: 8px;
    color:#3d3d3d;
    border: 1px solid #c6c6c6;
    overflow: hidden;
    word-break:break-all;
}

tr:nth-child(odd){background-color:#F9F9F9;}

th { 
    font-size:13px;
    background-color:white;
    color: #3d3d3d;
    border: 1px solid #c6c6c6;
}
.total{
    margin-left:10px; 
    float: left; 
    margin-bottom: 10px; 
    font-size:15px;
}
.bck{
    margin-top:-20px;
    background-color: #F9F9F9;
    height:80px;
    width: 100%;
    margin-left:-8px;
    border-radius: 5px;
    border:1px solid #dbd9d9;
} 

tr:hover {
    background-color: #cfcece;
}

.holiday-yellow {
    color:#9c9c00;
}

.holiday-blue {
    color:#280df0;
}
</style>
<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h3 class="animated fadeInLeft">Timesheet</h3>
                <p class="animated fadeInDown">
                    <a href="#/">Home</a> <span class="fa-angle-right fa"></span> 
                    <a href="#/timesheet">My Timesheet</a> <span class="fa-angle-right fa"></span> 
                    Timesheet
                </p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div style="padding-left: 20px; padding-top:20px;">
            <h4>
                <select ng-model="filter.datetype" ng-hide="true">
                    <option value="Date Submitted">Date Submitted</option>
                    <option value="Date Received">Date Received</option>
                </select>
                <div class = "bck">
                    <div style="margin-top:25px;margin-left:30px;float:left;font-size: 16px; font-weight: bold;">
                        Date From: <input ng-model="filter.datefrom" type="date" id="datefrom" style="width:165px;"/>
                        Date To: <input ng-model="filter.dateto" type="date" id="dateto" style="width:165px;"/>

                        <input type="button" class="medium button blue fa-fa" value="&#xf002; SEARCH" ng-click="show_timesheet()">
                        
                        <input type="button" class="medium button green fa-fa" value="EXPORT" ng-click="export_timesheet()">

                        <input type="button" class="medium button red fa-fa" value="PDF" ng-click="pdf_timesheet()">
                        
                    </div>
                </div>
            </h4>
        </div>
        <div style="height:15px; width:100%;">

        </div>
      
            <b class="total">Total: {{timesheet.count}}</b>
            <table id="datatables-example" class="table1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:7%;">Date</th>
                        <th style="width:8%;">Day</th>
                        <th style="width:8%;">Schedule</th>
                        <th style="width:9.5%;">Log In</th>
                        <th style="width:9.5%;">Log Out</th>
                        <th style="width:7%;"># of Hours</th>
                        <th style="width:7%;">Tardiness</th>
                        <th style="width:7%;">Undertime</th>
                        <th style="width:9%;">Overtime</th>
                        <th style="width:12%;">DPS</th>
                        <th style="width:9%;">Suspension</th>
                        <th style="width:10%;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(k, v) in timesheet.data" >
                        <td>{{v.log_date}}</td>
                        <td>{{v.log_day}}</td>
                        <td>{{v.schedule}}</td>
                        <td>
                            <span ng-if = "v.login == 'None' || v.login == ''">
                                <a ng-click="open_manual_log('In', k)">
                                    <font color="red" title = "File Manual Log"><u>File Manual Log</u></font>
                                </a>
                            </span>

                            
                            <span ng-if = 'v.login != "None" && v.login != ""'>
                                <span ng-if='v.login == "Pending"'>
                                    {{v.login}}
                                </span>
                                <span ng-if='v.login != "Pending"'>
                                    {{v.login_time}}
                                </span>
                                
                            </span>
                        </td>
                        <td>
                            <span ng-if="v.logout == 'None' || v.logout == ''">
                                <a ng-click="open_manual_log('Out', k)">
                                    <font color="red" title = "File Manual Log"><u>File Manual Log</u></font>
                                </a>
                            </span>

                            <span ng-if="v.logout != 'None' && v.logout != ''">
                                <span ng-if='v.logout == "Pending"'>
                                    {{v.logout}}
                                </span>
                                <span ng-if='v.logout != "Pending"'>
                                    {{v.logout_time}}
                                </span>
                                
                            </span>
                        </td>
                        <td>
                            <span >
                            {{v.hrs}}
                            </span>
                        </td> 
                        <td>{{v.tardiness}}</td> 
                        <td>{{v.undertime}}</td> 
                        <td>
                            <span ng-if="v.overtime=='false'">
                                <a ng-click="open_overtime(k)">
                                    <font color="red" title = "File Overtime"><u>File Overtime</u></font>
                                </a>
                            </span>
                            <span ng-if="v.overtime=='Approved'">{{v.overtime_value}}</span>
                            <span ng-if="v.overtime=='Pending'">{{v.overtime}}</span>
                            <span ng-if="v.overtime=='Disapproved'">{{v.overtime}}</span>
                        </td> 
                        <td ng-bind-html="v.dps"></td> 
                        <td>{{v.suspension}}</td> 
                        <td ng-bind-html="v.status"></td> 
                    </tr>               
                    <!-- <tr ng-if="!timesheet.status" style= "text-align: center;">
                        <td colspan="9" style="text-align:center;">No Data Found</td>
                    </tr> -->
                </tbody>
            </table>
        
        <div style="height:50px; width:100%;">

        </div>
    </div>
</div>