
<style type="text/css">
.red {
    color: #ff0000;
}

.leave-square {

    width: 150px;
    height: 150px;
    float: left;

    border: 1px solid #CCC; 
    padding-top: 10px;
    margin-right: 10px;
}

.leave-square .leave-circle {
    width: 90px;
    height: 90px;
    border: 2px solid #CCC;
    border-radius: 50%; 

    padding: 20px 15px;
    font-size: 30px;
    text-align: center;
    margin-left: 30px;
    color: #e30000;
}

.leave-square label {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: #1c84c6;
}
.total{
    margin-left:10px; 
    float: left; 
    margin-bottom: 10px; 
    font-size:15px;
}
.table1{
    width: 98.5%;
    margin:0 auto;
    background-color:white;
    font-size:12px;
    margin-top:3px;
}
th, td {
    text-align: left;
    padding: 8px;
    color:#3d3d3d;
    border: 1px solid #c6c6c6;
    
}

tr:nth-child(odd){background-color:#F9F9F9;}

th {
      font-size:13px;
    background-color:white;
    color: #3d3d3d;
    border: 1px solid #c6c6c6;
}

.centerDiv { width:1000px;padding-left:105px; margin: 0 auto; }

.bck{
    padding-top:5px;
    background-color: #F9F9F9;
    height:80px;
    width: 97%;
    margin-top:20px;
    margin-left:20px;
    border-radius: 5px;
    border:1px solid #dbd9d9;
}  

</style>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h2 class="animated fadeInLeft">Compensation and Benefits</h2>
                <p class="animated fadeInDown">
                    <a href="#/">Home</a> <span class="fa-angle-right fa"></span> 
                    <a href="#/timesheet">Timesheet</a> <span class="fa-angle-right fa"></span> 
                    Compensation and Benefits
                </p>
            </div> 
        </div>
    </div>
    <div class="panel">
        <div class ="bck">
            <div style="padding-left: 20px; padding-top:20px;">
                <div style="font-size: 18px;">
                    <div style="margin-left:5px;float:left; margin-right:10px;margin-top:-15px;">
                        <label style="float:left;font-size: 15px;">Date From:</label><br>
                        <input ng-model="filter.datefrom" type="date" id="datefrom" style="width:165px;"/>
                    </div>
                    <div style="float:left; margin-right:-5px;margin-top:-15px;">
                       <label style="float:left;font-size: 15px;">Date To:</label><br> <input ng-model="filter.dateto" type="date" id="dateto" style="width:165px;"/>
                    </div>
                    <div style="float:left; margin-left:20px;margin-top:10px;">
                        <input type="button" class="medium button blue fa-fa" value="&#xf002; SEARCH" ng-click="show_request()" />
                    </div>
                    <div style="float:left; margin-left:20px;margin-top:10px;">
                     <input type="button" class="medium button green fa-fa" value = "&#xf055; Add New Request" alt="edit"ng-click="add_request(k)" title="Add"/></h4>
                    </div>
                </div>
        </div>        
                <div style="clear:both;"></div>
            </div>
            <div style="width:100%; height:10px;"></div>

            <div class="table1" style="margin-top:30px;">
                <b class="total">{{request.count}}</b>
                <div style="margin-top:10px;">
                    <table id="datatables-example" class="table1" width="99%" cellspacing="0">
                        <thead>
                            <tr>
                                <th col width="90">Request type</th>
                                <th col width="90">Reason</th>
                                <th col width="90">Date Created</th>
                                <th col width="90">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(k, v) in request.data track by $index" style="cursor:pointer;" ng-if="request.status">
                                <td>{{v.type}}</td>
                                <td>{{v.reason}}</td>
                                <td>{{v.datecreated}}</td>
                                <td>
                                <div ng-class ="v.status === 'Pending' && 'hide' || 'display'">
                                    {{v.status}} 
                                    </div>
                                    <div ng-class ="v.status === 'Pending' && 'display' || 'hide'"> 
                                        <button ng-click="cancel_request(k)" class="medium button blue fa-fa">Cancel</button> 
                                    </div></td>
                            </tr>
                            <tr ng-if="!request.status" style= "text-align: center;">
                                <td colspan = "5" style="text-align:center;">No Data Found</td>
                            </tr>         
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="height:50px; width:100%;"></div>

        </div>
    </div>

</div>

<script type="text/ng-template" id="RequestModal">
    <div class="ngdialog-message">
        <div style="margin-top: 10px;">
            <h3><span style="color:#0c79be;">{{ modal.title }}</span></h3>
        </div>
        <div style="height:2px;width:100%;background-color:#B3B3B3;margin-bottom:15px;"></div>
        <form name="myForm">
            <div> 
                <table>
                    <tr>
                        <td>
                            <label style = "font-size:20px;">Type:</label>
                            <br>
                            <select ng-model="modal.request_type_pk" style="display: block; float: left;font-size:15px; width:300px;padding:8px;height:25px border:0px solid #f0f0f0;; " tabindex="5">
                                <option ng-repeat="(k, v) in request_type.data" style="cursor:pointer;" value="{{v.pk}}">
                                    {{v.type}}
                                </option>
                            </select>
                        </td>
                    </tr>
        
                    <tr>
                        <td>
                            <label style = "font-size:20px;">Reason:</label> 
                            <textarea ng-model="modal.remarks" rows ='4' cols ='31' tabindex="1" autofocus required/>
                        </td>
                    </tr>
            </table>
            </div>
        </form>
     <hr style="height:2px">
    <div class="ngdialog-buttons">          
        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)">{{modal.close}}</button>
        <button type="button" class="ngdialog-button button-action" data-ng-click="closeThisDialog('Save')" ng-disabled="myForm.$error.required">{{modal.save}}</button>
    </div>
</script>
