
<style type="text/css">
.button-action:disabled{
       cursor:not-allowed;
       background-color: #F0EFEF;
       color:#7F7D7C;
    }
.button-action{
        background-color: #3288E6;
        color: white;
    }
.red { 
    color: #ff0000;
}

.total{
    margin-right:120px; 
    float: left; 
    margin-bottom: 10px; 
    font-size:14px;
}
.table1{

    width: 96%;
    margin:0 auto;
    background-color:white;
    font-size:12px;
    margin-top:3px;
}
th, td {
    text-align: left; 
    padding: 8px;
    color:#3d3d3d;
    border: 1px solid #c6c6c6;
}
 
tr:nth-child(odd){background-color:#F9F9F9;}

th {
    font-size:13px;
    background-color:white;
    color: #3d3d3d;
    border: 1px solid #c6c6c6;
}
select{
    background-color:white;
    color:#433D43;
    padding: 5px;
    display: inline-block; 
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;

}
.bck{
    padding-top:5px;
    background-color: #F9F9F9;
    height:70px;
    width: 47.5%;
    margin-top:5px;
    margin-left:15px;
    border-radius: 5px;
    padding-top:20px;
    padding-left:10px;
    border:1px solid #dbd9d9;
}

.table2{ 
    width: 96%;
    margin:0 auto;
    background-color:white;
    font-size:12px;
    margin-top:3px;
}
th.a, td.a {
    text-align: left; 
    padding: 8px;
    color:#3d3d3d;
    border: 1px solid white;
}
 
tr.a:nth-child(odd){background-color:white;}

th.a {
    font-size:13px;
    background-color:white;
    color: #3d3d3d;
    border: 1px solid white;
}
</style>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h2 class="animated fadeInLeft">Leaves</h2>
                <p class="animated fadeInDown">
                    Administration <span class="fa-angle-right fa"></span> 
                    Leaves
                </p>
            </div>
        </div>
    </div>

    <div class="panel-body">
           <div class="bck">         
                <select class="ng-pristine ng-valid ng-touched" ng-model="filter.status" ng-click="status_changed()">
                    <option>Active</option>
                    <option>Inactive</option>
                </select>

                <input type="button" class="btn btn-add btn-sm" value = "Add New Leave Type" alt="add" ng-click="add_leavetype(k)" title="add" style = "float: right;margin-right:10px;"/> 
            </div>
        <div class="col-md-6">
         


        <div class="responsive-table" style="margin-top:20px;">
            <b class="total">Total: {{leave_types.count}}</b>
                <table class= "table1" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><font size = 4>Leave Types</font></th>
                            <th><font size = 4>Code</font></th>
                            <th><font size = 4>Total No. of Days</font></th>
                            <th><font size = 4>Options</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="leave_types.status" ng-repeat="(k, v) in leave_types.data" style="cursor:pointer;">
                            <td>{{v.name}}</td>
                            <td>{{v.code}}</td>
                            <td>{{v.days}}</td>
                            <td><center>
                                    <input type="image" src="ASSETS/img/edit.png" alt="edit" style="width:16px; height:16px" ng-click="edit_leavetype(k)" title="Edit">
                                    <input type="image" src="ASSETS/img/delete.png" alt="delete" style="width:16px; height:16px"  ng-click="delete_leavetype(k)" title="Delete">
                                </center>
                            </td>
                        </tr> 
                        <tr ng-if="!leave_types.status">
                            <td colspan="4" style="text-align:center;">No data found</td>
                        </tr>       
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="responsive-table" style="margin-top:20px;">
                <h3>Default Leave Values</h3>
                <table cellspacing="0">
                    <tbody>
                        <tr style="cursor:pointer;">
                            <td>Regularization (in days)</td>
                            <td>
                                <input type="text" style="width:80px;" is-number maxlength="3" ng-model="leave_default.data.regularization" />
                                
                            </td>
                        </tr> 
                        <tr style="cursor:pointer;">
                            <td>The rest of the leaves are given:</td>
                            <td>
                                <select ng-model="leave_default.data.staggered">
                                    <option>Staggered monthly</option>
                                    <option>All at once</option>
                                </select>
                            </td>
                        </tr>
                        <tr style="cursor:pointer;">
                            <td>How many leaves will be carried-over:</td>
                            <td>
                                <input type="text" style="width:80px;" is-number maxlength="3" ng-model="leave_default.data.carry_over" />
                            </td>
                        </tr> 
                        <tr>
                            <td></td>
                            <td style="text-align:right;">
                                <input type="button" class="btn btn-primary" value = "Update" ng-click="save_default()" title="update" /> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="LeaveTypeModal">
    <div class="ngdialog-message">
        <div style="margin-top: 10px;">
            <h2><span style="color:#0c79be;">{{ modal.title }}</span></h2>
        </div>
           <hr style="height:2px">
        <div style="width:40%; float:left">
            <form name="myForm">
                <div> 
                
                        <label style = "font-size:16px;margin-top:20px;margin-left:10px;">Name:</label> 
                        <input required type="text" size="10" ng-model="modal.name" style="width: 240px;" />
                        <br>
                        <label style = "font-size:16px;margin-top:20px;margin-left:10px;">Code: </label> 
                        <input required type="text" size="10" ng-model="modal.code" style="width: 240px;margin-left:3px;" />
                        <br>
                        <label style = "font-size:16px;margin-top:20px;margin-left:95px;"># of Days (per year):
                        </label> 
                    
                          
                                <input required type="text" is-number size="2" ng-model="modal.days" style="width: 50px;" maxlength="2"/> 
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <div style="width:60%; float:left;">
            <div class="responsive-table">
               
                       
                  
                          <label style = "font-size:16px;margin-top:20px;">Regularization (in days):
                          </label> 
                          <input type="text" style="width:80px;" is-number maxlength="3" ng-model="modal.regularization" />
                            <label style="margin-left:19px;"> <input type="checkbox" ng-model="modal.default_checkbox" ng-click="default_checkbox_toggle()"/> Get default values </label>
                          <br>
                          <label style = "font-size:16px;margin-top:20px;">The rest of the leaves are given:
                          </label> 
                           
                            
                                <select ng-model="modal.staggered">
                                    <option>Staggered monthly</option>
                                    <option>All at once</option>
                                </select>
                         <br>
                         <label style = "font-size:16px;margin-top:20px;">How many leaves will be carried-over:
                         </label> 
                        
                                <input type="text" style="width:80px;" is-number maxlength="3" ng-model="modal.carry_over" /><br>
                           
                 
            </div>
        </div>
        <div style="clear:both;"></div>
          <hr style="height:2px">
    </div>
    <div class="ngdialog-buttons">          
        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)">{{modal.close}}</button>
        <button type="button" class="ngdialog-button button-action" data-ng-click="closeThisDialog('Save')" ng-disabled="myForm.$error.required">{{modal.save}}</button>
    </div>
</script>