
<style type="text/css">
.red {
    color: #ff0000;
}
</style>

<div id="content2">
    <div class="panel box-shadow-none content-header">
        <div class="panel-body">
            <div class="col-md-12">
                <h2 class="animated fadeInLeft">Leaves</h2>
                <p class="animated fadeInDown">
                    Administration <span class="fa-angle-right fa"></span> 
                    Leaves
                </p>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="col-md-6">
            <div>         
                 <input type="button" class="btn btn-add" value = "Add New Leave Type" alt="edit" ng-click="add_leavetype(k)" title="Edit" style = "float: right;"/> 
            </div>

            <div class="responsive-table" style="margin-top:50px;">
                <table width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><font size = 4>Leave Types</font></th>
                            <th><font size = 4>Code</font></th>
                            <th><font size = 4>Total No. of Days</font></th>
                            <th><font size = 4>Options</font></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(k, v) in leave_types.data" style="cursor:pointer;">
                            <td>{{v.name}}</td>
                            <td>{{v.code}}</td>
                            <td>{{v.days}}</td>
                            <td><center>
                                    <input type="image" src="ASSETS/img/edit.png" alt="edit" style="width:16px; height:16px" ng-click="edit_leavetype(k)" title="Edit">
                                    <input type="image" src="ASSETS/img/delete.png" alt="delete" style="width:16px; height:16px"  ng-click="delete_leavetype(k)" title="Delete">
                                </center>
                            </td>
                        </tr>        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="responsive-table" style="margin-top:50px;">
                <table width="100%" cellspacing="0">
                    <tbody>
                        <tr style="cursor:pointer;">
                            <td>How many <span style="color:#1115ff;">{{option.leaves_interval.type}}</span> before leaves are granted?</td>
                            <td>
                                <input type="text" style="width:80px;" is-number maxlength="3" ng-model="option.leaves_interval.amount" />
                                <select ng-model="option.leaves_interval.type">
                                    <option>Months</option>
                                    <option>Days</option>
                                </select>
                            </td>
                        </tr>        
                        <tr style="cursor:pointer;">
                            <td>Leaves are given:</td>
                            <td>
                                <input type="text" style="width:80px;" is-number maxlength="3" ng-model="option.leaves_interval.amount" />
                                <select ng-model="option.leaves_interval.type">
                                    <option>Monthly</option>
                                    <option>All at once</option>
                                </select>
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="LeaveTypeModal">
    <div class="ngdialog-message">
        <div style="margin-top: 10px;">
            <h2><span style="color:#0c79be;">{{ modal.title }}</span></h2>
        </div>
    <form name="myForm" novalidate>
        <div> 
            <table>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input required type="text" size="10" ng-model="modal.name" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td>Code:</td>
                    <td>
                        <input required type="text" size="10" ng-model="modal.code" style="width: 200px;" />
                    </td>
                </tr>
                
                <tr>
                    <td># of Days:</td>
                    <td>
                        <input required type="text" is-number size="2" ng-model="modal.days" style="width: 50px;" maxlength="2"/> 
                    </td>
                </tr>
            </table>
        </div>
    </form>
    </div>
    <div class="ngdialog-buttons">          
        <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)">{{modal.close}}</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')">{{modal.save}}</button>
    </div>
</script>